/*-----------------------------------------------------------------------------
[TABLE OF CONTENTS]
    +content-main
        =epcurateForm
-----------------------------------------------------------------------------*/

#epcurate-nav {
    top: 0 !important;
}

#content-wrap {
    top: 49px !important;
}

.epcurate-curation #content-main-wrap {
    margin-top: 0;
}

.epcurate-publish #content-main-wrap {
    margin-top: 25px;
}

.epcurate-shopping #content-main-wrap {
    margin-top: 65px !important;
}

.blockOverlay {
	height: 100% !important;
}

#overlay-s .overlay-content {
    top: 0;
}

/**
*
* =epcurateForm
*
**/

#content-wrap form {
    position: relative;
	height: 100%;
}

#container-wrap.publish-setting form {
    margin: 19px 0 53px;
}

#main-container.epcurate-shopping #title-func {
    min-height: 53px;
}

#container-wrap.epcurate-shopping form {
    margin: 57px 0 53px;
}

#content-wrap form .fminput {
	margin-bottom: 3px;
}

#content-wrap form .fminput label {
    position: relative;
    float: left;
    width: 170px;
    padding: 0 0 0 10px;
    color: #777;
    font-weight: bold;
    font-size: 13px;
}

#content-wrap form .fminput label img {
    margin-left: 3px;
    vertical-align: middle;
}

#content-wrap form .fminput label img.notice {
    display: none;
    position: absolute;
    top: -10px;
    left: 170px;
    z-index: 50;
}

#content-wrap form .fminput label a:hover img.notice {
    display: block;
}

#content-wrap form .fminput label acronym {
    margin-left: -10px;
}

#content-wrap form .fminput .fmfield {
    position: relative;
    margin: 0 0 3px 0;
    color: #999;
    font-size: 13px;
}

#content-wrap form .fminput .fmfield #date-time {
    clear: both;
    float: left;
    margin: 10px 0 0 180px;;
}

#content-wrap form .fminput .fmfield #date-time .datepicker {
    margin-bottom: 10px;
}

#content-wrap form .fminput .fmfield #date-time .select {
	width: 200px;
	margin-bottom: 10px;
}

#content-wrap form .fminput .fmfield #date-time p.notice {
	color: #f00;
}

#content-wrap form .fminput .fmfield a.switch-on {
    display: none;
    float: left;
    width: 63px;
    height: 25px;
	margin-bottom: 8px;
    background: url(../images/btn_on.png) no-repeat 0 0;
    color: #777;
    line-height: 25px;
    text-decoration: none;
    text-indent: 5px;
}

#content-wrap form .fminput .fmfield a.switch-off {
    float: left;
    width: 63px;
    height: 25px;
	margin-bottom: 8px;
    background: url(../images/btn_off.png) no-repeat 0 0;
    color: #777;
    line-height: 25px;
    text-decoration: none;
    text-indent: 33px;
}

#content-wrap form .fminput .fmfield .character {
    float: left;
    height: 29px;
    line-height: 29px;
}

#content-wrap form .fminput .fmfield .notice {
    clear: both;
    margin: 11px 0 10px 0;
    padding: 0 0 0 185px;
    color: #f00;
}

/* =disable
**************************************/

#content-wrap form .disable label,
#content-wrap form .disable label acronym {
    color: #bbb;
}

/* =text
**************************************/

#content-wrap form .fminput .fmfield p.text {
    float: left;
    height: 29px;
    margin: 0 10px 10px 0;
    padding-left: 4px;
    background: url(../images/input_box_left.png) no-repeat 0 0;
}

#content-wrap form .fminput .fmfield p.text span {
    display: block;
    padding-right: 4px;
    background: url(../images/input_box_right.png) no-repeat right 0;
}

#content-wrap form .fminput .fmfield p.text span .text {
    width: 437px;
    height: 29px;
    border: none;
    background: url(../images/input_box_middle.png) repeat-x;
    color: #777;
    font-family: Helvetica;
    font-size: 13px;
}

#content-wrap form .disable .fmfield p.text {
    background: url(../images/input_box_left_disable.png) no-repeat 0 0;
}

#content-wrap form .disable .fmfield p.text span {
    background: url(../images/input_box_right_disable.png) no-repeat right 0;
}

#content-wrap form .disable .fmfield p.text span .text {
    background: url(../images/input_box_middle_disable.png) repeat-x;
    color: #bbb;
}

#content-wrap form .fminput .fmfield p.text span .tag {
    width: 485px;
}

/* =textarea
**************************************/

#content-wrap form .fminput .fmfield p.textarea {
    overflow: hidden;
    float: left;
    height: 92px;
    margin: 0 10px 10px 0;
    padding-left: 4px;
    background: url(../images/input_box_left_lg.png) no-repeat 0 0;
}

#content-wrap form .fminput .fmfield p.textarea span {
    display: block;
    padding-right: 4px;
    background: url(../images/input_box_right_lg.png) no-repeat right 0;
}

#content-wrap form .fminput .fmfield p.textarea span .textarea {
    width: 427px;
    height: 78px;
    margin: 1px 0 0;
    padding: 5px;
    border: none;
    border-top: 1px solid #b5b5b5;
	border-bottom: 1px solid #b5b5b5;
    color: #777;
    font-family: Helvetica;
    font-size: 13px;
	resize: none;
}

#content-wrap form .disable .fmfield p.textarea {
    background: url(../images/input_box_left_lg_disable.png) no-repeat 0 0;
}

#content-wrap form .disable .fmfield p.textarea span {
    background: url(../images/input_box_right_lg_disable.png) no-repeat right 0;
}

#content-wrap form .disable .fmfield p.textarea span .textarea {
    background: url(../images/input_box_middle_lg_disable.png) repeat-x;
}

/* =thumbnail
**************************************/

#content-wrap form .fminput .fmfield .img-list {
    position: relative;
    float: left;
    width: 183px;
    height: 82px;
    margin-right: 20px;
}

#content-wrap form .fminput .fmfield .img-list a.img-next,
#content-wrap form .fminput .fmfield .img-list a.img-prev {
    display: block;
    position: absolute;
    top: 23px;
    width: 17px;
    height: 28px;
    text-indent: -100000px;
}

#content-wrap form .fminput .fmfield .img-list a.img-prev {
    left: 0;
    background: url(../images/btn_switch_left.png) no-repeat 0 0;
}

#content-wrap form .fminput .fmfield .img-list a.img-next {
    right: 0;
    background: url(../images/btn_switch_right.png) no-repeat 0 0;
}

#content-wrap form .fminput .fmfield .img-list a.img-prev:hover {
    background: url(../images/btn_switch_left_press.png) no-repeat 0 0;
}

#content-wrap form .fminput .fmfield .img-list a.img-next:hover {
    background: url(../images/btn_switch_right_press.png) no-repeat 0 0;
}

#content-wrap form .fminput .fmfield .img-list img.loading {
    display: none;
    position: absolute;
    top: 10px;
    left: 37px;
    z-index: 10;
}

#content-wrap form .fminput .fmfield .img-list ul {
    overflow: hidden;
    width: 129px;
    height: 82px;
    margin-left: 27px;
}

#content-wrap form .fminput .fmfield .img-list ul li {
    float: left;
    overflow: hidden;
    width: 110px;
    height: 62px;
    padding: 10px 9px 10px 10px;
    background: url(../images/thumbnail_box_lg.png) no-repeat 0 0;
    line-height: 82px;
}

#content-wrap form .fminput .fmfield .img-list ul li img {
    width: 110px;
    height: 62px;
}

#content-wrap form .fminput .fmfield .img-upload-func {
    float: left;
}

#content-wrap form .fminput .fmfield .img-upload-func .notice {
    margin: 8px 0;
    padding: 0;
    color: #777;
}

#content-wrap form .fminput .fmfield .img-upload-func .highlight {
    color: #f00;
}

/* =checkbox
**************************************/

#content-wrap form .fminput .fmfield .checkbox {
    float: left;
    height: 19px;
    background: url(../images/check_box.png) no-repeat 0 center;
    color: #777;
    line-height: 18px;
    text-decoration: none;
}

#content-wrap form .fminput .fmfield .checkbox a {
    display: block;
    padding-left: 22px;
    color: #777;
    text-decoration: none;
}

#content-wrap form .fminput .fmfield .checkbox a.on,
#content-wrap form .fminput .fmfield .checkbox a:hover {
    background: url(../images/icon_check.png) no-repeat 4px center;
}

/* =radio
**************************************/

#content-wrap form .fminput .fmfield .radio {
    overflow: hidden;
}

#content-wrap form .fminput .fmfield .radio li {
    float: left;
    margin-right: 27px;
}

#content-wrap form .fminput .fmfield .radio li a {
    float: left;
    height: 19px;
    padding-left: 22px;
    background: url(../images/btn_radio_off.png) no-repeat 0 0;
    color: #777;
    line-height: 18px;
    text-decoration: none;
}

#content-wrap form .fminput .fmfield .radio li.on a,
#content-wrap form .fminput .fmfield .radio li       a:hover {
    background: url(../images/btn_radio_on.png) no-repeat 0 0;
}

#content-wrap form .disable .fmfield .radio li a,
#content-wrap form .disable .fmfield .radio li a:hover {
    background: url(../images/btn_radio_off_disable.png) no-repeat 0 0;
	color: #bbb;
}

#content-wrap form .disable .fmfield .radio li.on a,
#content-wrap form .disable .fmfield .radio li.on a:hover {
    background: url(../images/btn_radio_on_disable.png) no-repeat 0 0;
}

/* =select
**************************************/

#content-wrap form .fminput .fmfield .select {
	position: relative;

    float: left;
	width: 180px;
	height: 29px;
    margin-right: 10px;
    padding-left: 4px;
    background: url(../images/input_box_left.png) no-repeat 0 0;
}

#content-wrap form .fminput .fmfield .select.disable {
    background: url(../images/input_box_left_disable.png) no-repeat 0 0;
}

#content-wrap form .fminput .fmfield .select .select-btn {
	padding: 0;
	width: 22px;
	height: 23px;
	background: url(../images/btns.png) 0 -400px no-repeat;
	position: absolute;
	top: 3px;
	right: 5px;
	z-index: 55;
	cursor: pointer;
}

#content-wrap form .fminput .fmfield .select.disable .select-btn,
#content-wrap form .fminput .fmfield .select .select-btn:hover {
	background: url(../images/btns.png) no-repeat 0 -501px;
}

#content-wrap form .fminput .fmfield .select .select-txt {
    overflow: hidden;
    height: 29px;
    padding: 0 4px 0 0;
    background: url(../images/input_box_right.png) no-repeat right 0;
    font-size: 13px;
    line-height: 29px;
    white-space: nowrap;
    text-indent: 5px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');
}

#content-wrap form .fminput .fmfield .select.disable .select-txt {
    background: url(../images/input_box_right_disable.png) no-repeat right 0;
}

#content-wrap form .fminput .fmfield .select .select-txt a {
    display: block;
    height: 29px;
    padding-right: 4px;
    background: url(../images/input_box_middle.png) repeat-x;
    color: #999;
    text-decoration: none;
}

#content-wrap form .fminput .fmfield .select.disable .select-txt a {
    background: url(../images/input_box_middle_disable.png) repeat-x;
}

#content-wrap form .fminput .fmfield .select .select-list {
	display: none;
	position: absolute;
	top: 27px;
	left: 2px;
	z-index: 60;
	width: 198px;
	border: 1px solid #b2b2b2;
	border-bottom: none;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius:  0 0 5px 5px;
	filter: alpha(Opacity=90);
	opacity: 0.9;
}

#content-wrap form .fminput .fmfield .select .select-list li {
	width: 180px;
	height: 28px;
	margin: 0;
	padding: 0 9px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #c9c9c9;
	background: none;
	background-color: #d2d2d2;
	color: #777;
	font-size: 13px;
	line-height: 28px;
	cursor: pointer;
}

#content-wrap form .fminput .fmfield .select .select-list li:hover {
	background-color: #e4e4e4;
	color: #999;
}

#content-wrap form .fminput .fmfield .select .select-list li:first-child {
	border-top: none;
}

#content-wrap form .fminput .fmfield .select .select-list li:last-child {
	-moz-border-radius:  0 0 5px 5px;
	-webkit-border-radius:  0 0 5px 5px;
	border-radius:  0 0 5px 5px;
}

/* =form-btn
**************************************/

#content-wrap form .form-btn {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 96%;
	min-width: 969px;
    height: 48px;
    margin-left: -48%;
    padding: 0 0 0;
    background: url(../images/bg_divider.png) repeat-x 0 top;
    text-align: center;
}

#content-wrap form .form-btn .wrap {
    position: relative;
    width: 416px;
    height: 27px;
    padding: 10px 0 0;
    margin: 0 auto;
	text-align: center;
}

#content-wrap form .form-btn .wrap p {
    position: absolute;
    top: 10px;
}

#content-wrap form .form-btn .wrap p.btn-leave {
    left: 129px;
}

#content-wrap form .form-btn .wrap p.btn-save {
    left: 215px;
}

#content-wrap form .form-btn .wrap p.back {
	left: 4px;
}

#content-wrap form .form-btn .wrap p.next {
	right: 14px;
}

#content-wrap.epcurate-curation form .form-btn .wrap p.back {
	left: -11px;
}

#content-wrap.epcurate-curation form .form-btn .wrap p.next {
	right: 19px;
}

#content-wrap form .form-btn .wrap p.back,
#content-wrap form .form-btn .wrap p.next {
	top: 12px;
}

#content-wrap form .form-btn .wrap p.back a:hover,
#content-wrap form .form-btn .wrap p.next a:hover {
	color: #999;
}

#content-wrap form .form-btn .wrap                   p span input,
#content-wrap form .form-btn .glow-btns .btns span input {
    padding: 0 10px;
}

#content-wrap form .form-btn .wrap .disable a,
#content-wrap form .form-btn .wrap .disable input {
    cursor: default;
}

#content-wrap form .form-btn .wrap .btns.disable {
    background: url(../images/bg_btn_left_press.png) no-repeat 0 0;
}

#content-wrap form .form-btn .wrap .btns.disable span {
    background: url(../images/bg_btn_right_press.png) no-repeat right 0;
}

#content-wrap form .form-btn .wrap .btns.disable span a,
#content-wrap form .form-btn .wrap .btns.disable span input {
    background: url(../images/bg_btn_middle_press.png) repeat 0 0;
    color: #999;
}

#content-wrap form .form-btn .wrap a {
    color: #777;
    font-family: Helvetica;
    font-size: 13px;
    text-decoration: none;
}

#content-wrap form .form-btn .glow-btns {
	position: absolute;
	top: 0;
	right: 0;
    float: right;
}

#content-wrap form .form-btn .glow-btns .btns {
    float: left;
	margin-top: 10px;
}

#content-wrap form .form-btn .glow-btns .glow {
    width: 164px;
    margin: -6px 0 0;
    padding-left: 18px;
    background: url(../images/bg_btn_glow_left.png) no-repeat 0 3px;
}

#content-wrap form .form-btn .glow-btns .glow span {
    padding: 0 18px 0 0;
    background: url(../images/bg_btn_glow_right.png) no-repeat right 3px;
}

#content-wrap form .form-btn .glow-btns .glow span input {
    width: 146px;
    height: 60px;
    background: url(../images/bg_btn_glow_middle.png) repeat 0 3px;
}

#content-wrap form .form-btn .glow-btns .glow:hover {
    background: url(../images/bg_btn_glow_left_press.png) no-repeat 0 3px;
}

#content-wrap form .form-btn .glow-btns .glow:hover span {
    background: url(../images/bg_btn_glow_right_press.png) no-repeat right 3px;
}

#content-wrap form .form-btn .glow-btns .glow:hover span input {
    background: url(../images/bg_btn_glow_middle_press.png) repeat 0 3px;
    color: #999;
}

.epcurate-curation#content-wrap form .form-btn {
    width: 100%;
    left: 0;
    margin: 0;
}