/*-----------------------------------------------------------------------------
[TABLE OF CONTENTS]
    +content-main
        =epcurateForm
-----------------------------------------------------------------------------*/

/**
*
* =video-control
*
**/

#video-control {
    display: none;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    background: #000 url(../images/bg_controlbar.png) repeat-x 0 19px;
}

#progress-bar {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 8px;
    background: #2d3135;
}

#loaded {
    width: 0;
    height: 8px;
    background: #666;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 31;
}

#played {
    width: 0;
    height:8px;
    background: #aeaeae;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 32;
}

#play-dragger {
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 35;
    width: 18px;
    height: 18px;
    background: url(../images/btn_knob.png) 0 0 no-repeat;
    cursor: pointer;
}
/*
#play-dragger {
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 35;
    width: 100%;
    width: 590px;
    height: 8px;
}

#play-dragger .ui-slider-handle,
#play-dragger .jScrollPaneDrag {
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 35;
    width: 18px;
    height: 18px;
    background: url(../images/btn_knob.png) 0 0 no-repeat;
    cursor: pointer;
}
*/
#video-control ul {
    position: relative;
    overflow: hidden;
    height: 25px;
    padding-top: 17px;
}

#video-control ul li {
    float: left;
}

#btn-prev {
    width: 34px;
    height: 25px;
    background: #000 url(../images/btn_controls.png) no-repeat 0 -298px;
    cursor: pointer;
}

#btn-prev:hover,
#btn-prev.on {
    background-position: 0 -348px;
}

#btn-play {
    width: 57px;
    height: 25px;
    background: #000 url(../images/btn_controls.png) 0 2px no-repeat;
    cursor: pointer;
}

#btn-play:hover,
#btn-play.disable {
    background-position: 0 -48px;
}

#btn-pause {
    width: 57px;
    height: 25px;
    background: #000 url(../images/btn_controls.png) 0 -98px no-repeat;
    cursor: pointer;
}

#btn-pause:hover,
#btn-pause.disable {
    background-position: 0 -148px;
}

#btn-next {
    width: 34px;
    height: 25px;
    background: #000 url(../images/btn_controls.png) no-repeat 0 -198px;
    cursor: pointer;
}

#btn-next:hover,
#btn-next.on {
    background-position: 0 -248px;
}

#volume-control {
    width: 101px;
    height: 25px;
    background: #000 url(../images/btn_controls.png) no-repeat 0 -398px;
    position: relative;
}

#volume-bar {
    width: 53px;
    height: 5px;
    background: url(../images/bg_volumebar.png) 0 3px no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#volume-bar .volume {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 3px;
    background-color: #f00;
    cursor: pointer;
}

#volume-dragger {
    position: absolute;
    width: 47px;
    height: 5px;
    top: 10px;
    right: 16px;
}

#volume-dragger .ui-slider-handle,
#volume-dragger .jScrollPaneDrag {
    width: 6px;
    height: 16px;
    background: url(../images/btn_dragger.png) 0 0 no-repeat;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 35;  
    cursor: pointer;
}

#video-control #play-time {
    float: right;
    width: auto;
    height: 25px;
    margin: 0 27px 0 0;
    padding: 3px 5px 0 0;
    border-right: 1px solid #000;
    background: none;
    color: #777;
    font-size: 11px;
    line-height: 23px;
    text-align: right;
}

#video-control #play-time.last {
    margin: 0;
}

#played-length,
#play-time .played {
    color: #fff;
}

#play-time .played {
    float: left;
    margin-right: 3px;
}

#play-time .duration {
    margin-left: 3px;
}

#play-time .divider {
    padding: 0 2px;
}

#btn-volume {
    position: absolute;
    top: 9px;
    left: 8px;
    z-index: 10;
    width: 20px;
    height: 13px;
    background: url(../images/btn_controls.png) 0 -700px;
    cursor: pointer;
}

#btn-volume.louder {
    background-position: 0 -750px;
}

#btn-volume.loudest {
    background-position: 0 -800px;
}

#btn-volume.mute {
    background-position: 0 -850px;
}

#btn-expand,
#btn-shrink {
    position: absolute;
    top: 17px;
    right: 0;
    z-index: 10;
    width: 27px;
    height: 25px;
    background: #000 url(../images/btn_controls.png) 0 -498px no-repeat;
    cursor: pointer;
}

#btn-expand:hover,
#btn-expand.on {
    background-position: 0 -548px;
}

#btn-shrink {
    background-position: 0 -598px;
}

#btn-shrink:hover {
    background-position: 0 -648px;
}