/*-----------------------------------------------------------------------------
[TABLE OF CONTENTS]
    +content-main
        =channel-list
-----------------------------------------------------------------------------*/

.selector,
.radio,
.checker,
.uploader,
.button {
    float: left;
    margin-right: 8px;
}

/**
*
* =radio
*
**/

div.radio {
    width: 17px;
    height: 19px;
}

div.radio span {
    display: block;
    height: 17px;
    width: 19px;
    background: url(../images/btn_radio_off.png) no-repeat 0 0;
}

div.radio span input {
    width: 17px;
    height: 19px;
}

div.radio.focus span, 
div.radio:hover span,
div.radio span.checked {
    background: url(../images/btn_radio_on.png) no-repeat 0 0;
}

div.radio.disabled span {
    background: url(../images/btn_radio_off_disable.png) no-repeat 0 0;
}

div.radio.disabled span.checked {
    background: url(../images/btn_radio_on_disable.png) no-repeat 0 0;
}

/**
*
* =checkbox
*
**/

div.checker {
    width: 22px;
    height: 29px;
}

div.checker span {
    display: block;
    width: 19px;
    height: 19px;
}

div.checker input {
    width: 22px;
    height: 29px;
}