/* uniform */
.selector,
.radio,
.checker,
.uploader,
.button {
    float: left;
    margin-right: 8px;
}

/* radio */
div.radio {
    width: 17px;
    height: 19px;
}

div.radio span {
    display: block;
    height: 17px;
    width: 19px;
    background: url(../images/btn_radio.png) no-repeat 0 0;
}

div.radio span input {
    width: 17px;
    height: 19px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

div.radio.focus span, 
div.radio:hover span,
div.radio       span.checked {
    background-position: 0 -38px;
}

div.radio.disabled span {
    background-position: 0 -18px;
}

div.radio.disabled span.checked {
    background-position: 0 -56px;
}

/* checker */
div.checker {
    width: 22px;
    height: 29px;
}

div.checker span {
    display: block;
    width: 19px;
    height: 19px;
}

div.checker input {
    width: 22px;
    height: 29px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}