<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link rel="stylesheet" href="stylesheets/style.css?v=509" />
<link rel="stylesheet" href="stylesheets/lightbox.css?v=509" />
<link rel="stylesheet" href="stylesheets/channel.css?v=509" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script src="javascripts/nn-sdk.js?v=509"></script>
<script src="javascripts/jquery.mousewheel.min.js?v=509"></script>
<script src="javascripts/jquery.ellipsis.js?v=509"></script>
<script src="javascripts/jquery.blockUI.js?v=509"></script>
<script src="javascripts/jquery.toggleval.min.js?v=509"></script>
<script src="javascripts/jquery.charcounter.min.js?v=509"></script>
<script src="javascripts/jquery.tmpl.min.js?v=509"></script>
<script src="javascripts/jquery.cookie.js?v=509"></script>
<script src="javascripts/json2.js?v=509"></script>
<script src="javascripts/purl.js?v=509"></script>
<script src="javascripts/swfupload/swfupload.js?v=509"></script>
<script src="javascripts/vertical.slider.js?v=509"></script>
<script src="javascripts/config.js?v=509"></script>
<script src="javascripts/basic.js?v=509"></script>
<script src="javascripts/controller.js?v=509"></script>
<script src="javascripts/channel.js?v=509"></script>
<title>9x9.tv - Create a new channel</title>
</head>
<body>

<div id="lightbox-facebook" class="lightbox-content">
<h3><img src="images/text_fb.png" alt="Facebook" title="Facebook" /></h3>
<a href="#" class="btn-close">Close</a>
<div class="content">
<p class="desc"><strong>Add 9x9.tv to your facebook</strong> timeline</p>
<p class="confirm">
<span class="checkbox"><a href="#">check</a></span>
Add your 9x9.tv creations and activity to your facebook timeline
</p>
</div>
<div class="button">
<p><a href="#" class="fb-ok">OK</a></p>
</div>
</div>

<!--============================== header start ==============================-->
<div id="header">
  <p id="logo"></p>
  <ul id="nav">
    <li id="home"><span><a href="/#!home">Home</a></span></li>
    <li id="guide"><span><a href="/#!guide">Guide</a></span></li>
    <li id="browse"><span><a href="/#!directory">Browse</a></span></li>
    <li id="profile">
      <p id="btn-profile"></p>
      <p id="selected-profile">Guest</p>
      <ul id="profile-dropdown" class="dropdown">
        <li><a id="profile-mypage" href="/#!curator=profileUrl">My page</a></li>
        <li><a href="./">Studio</a></li>
        <li><a href="/#!settings">Settings</a></li>
        <li><a id="profile-logout" href="/api/login">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--============================== header close ==============================-->

<div id="studio-nav">
<div class="studio-nav-wrap">
<h3><a href="./">Studio</a></h3>
<ul>
<li class="on"><span><a href="./">My Channels</a></span></li>
</ul>
</div>
</div>

<!--============================== content-main start ========================-->
<div id="content-wrap" class="channel-add">

<div id="content-nav">
&nbsp;
</div>

<div id="main-wrap-slider" class="slider-wrap"><div class="slider-vertical"></div></div>

<div id="content-main">
<div id="title-func" class="clearfix">
<h2>My Channels &gt; Create a new channel</h2>
<p class="required"><acronym title="Required field" class="mark-required">*</acronym>Required field</p>
</div>

<div id="content-main-wrap">
<div class="constrain">
<form name="settingForm" id="settingForm" method="get" action="">
<input type="hidden" name="isPublic" id="isPublic" value="true" />
<div class="fminput clearfix">
<label for="name"><acronym title="Required field" class="mark-required">*</acronym>Title</label>
<div class="fmfield">
<p class="text"><span><input type="text" name="name" id="name" maxlength="100" value="" class="text" /></span></p>
<span class="notice"><span id="name-charcounter">20</span>　Best within 20 characters</span>
</div>
</div>
<div class="fminput clearfix">
<label>Thumbnail</label>
<div class="fmfield upload-img">
<p class="img"><img id="thumbnail-imageUrl" src="images/guide_ch_default.png" alt="" width="110" height="62" class="thumbnail" /><img src="images/loading.gif" alt="" class="loading" /></p>
<p id="uploadThumbnail">Upload</p>
<p class="notice img-upload">Better results with 720x480 or higher resolution image</p>
<p class="notice upload-notice hide">Please upload jpeg, png, or gif files.</p>
<input type="hidden" name="imageUrl" id="imageUrl" value="" />
<input type="hidden" name="imageUrlOld" id="imageUrlOld" value="" />
</div>
</div>
<div class="fminput clearfix">
<label>Description</label>
<div class="fmfield">
<p class="textarea"><span><span><textarea name="intro" id="intro" cols="80" class="textarea"></textarea></span></span></p>
<span class="notice"><span id="intro-charcounter">70</span><br />Best within 70 characters</span>
</div>
</div>
<div class="fminput clearfix">
<label><acronym title="Required field" class="mark-required">*</acronym>Channel language</label>
<div class="fmfield">
<div class="select enable">
<p class="select-btn"></p>
<p class="select-txt"><a id="lang-select-txt" href="#">Select a language</a></p>
<ul id="lang-select-list" class="select-list">
<li data-meta="en">English</li>
<li data-meta="zh">Chinese</li>
<li data-meta="other">Others</li>
</ul>
<input type="hidden" name="lang" id="lang" value="" class="select-meta" />
</div>
</div>
</div>
<div class="fminput clearfix">
<label><acronym title="Required field" class="mark-required">*</acronym>Audience region</label>
<div class="fmfield">
<div class="select enable">
<p class="select-btn"></p>
<p class="select-txt"><a id="sphere-select-txt" href="#">Select a region</a></p>
<ul id="sphere-select-list" class="select-list">
<li data-meta="en">US</li>
<li data-meta="zh">Taiwan</li>
<li data-meta="other">Worldwide</li>
</ul>
<input type="hidden" name="sphere" id="sphere" value="" class="select-meta" />
</div>
</div>
</div>
<div class="fminput clearfix">
<label><acronym title="Required field" class="mark-required">*</acronym>Category</label>
<div class="fmfield">
<div class="select disable category">
<p class="select-btn"></p>
<p class="select-txt"><a id="categoryId-select-txt" href="#">Select a category</a></p>
<ul id="browse-category" class="select-list">
<!-- template = #category-list-tmpl-item -->
</ul>

<script id="category-list-tmpl-item" type="text/x-jquery-tmpl">
{{if $item.dataArrayIndex($item.data) < 3}}
<li class="first-row" data-meta="${id}">${name}</li>
{{else}}
<li data-meta="${id}">${name}</li>
{{/if}}
</script>

<input type="hidden" name="categoryId" id="categoryId" value="" class="select-meta" />
</div>
</div>
</div>
<div class="fminput clearfix">
<label>Tag</label>
<div class="fmfield">
<p class="text"><span><input type="text" name="tag" id="tag" maxlength="100" value="" class="text" /></span></p>
<span class="notice">Separate with commas</span>
<div class="tag-list hide clear">
<h4>Suggested Tags:</h4>
<ul id="tag-list">
<!-- template = #tag-list-tmpl-item -->
</ul>

<script id="tag-list-tmpl-item" type="text/x-jquery-tmpl">
{{each tags}}
{{if $value != ""}}
<li><span><a href="#">${$value}</a></span></li>
{{/if}}
{{/each}}
</script>

</div>
</div>
</div>
<div class="form-btn">
<div class="form-btn-wrap">
<p class="notice hide">Please fill in all required fields.</p>
<p class="btns btn-cancel disable"><span><input type="reset" value="Cancel" /></span></p>
<p class="btns btn-create disable"><span><input type="button" value="Create" /></span></p>
</div>
</div>
</form>
</div>
</div>
</div>

</div>
<!--============================== content-main start ========================-->

<!--============================== footer start ==============================-->
<p id="footer-control"></p>
<div id="footer">
  <ul id="footer-list">
    <li>
      <p class="select-txt">About Us</p>
      <p class="select-btn"></p>
      <ul class="select-list">
        <li><a href="/#!about=about">About us</a></li>
        <li><a href="/#!about=help">Help</a></li>
        <li><a href="/#!about=report">Feedback</a></li>
        <li><a href="/#!about=terms">Terms & Policy</a></li>
        <li><a href="/#!about=contact">Contact us</a></li>
        <li><a href="/#!about=partners">Partners</a></li>
        <li><a href="/#!about=curators">Curators</a></li>
        <li><a href="/#!about=press">Press</a></li>
        <li><a href="/#!about=contest">Curation Contest</a></li>
      </ul>
    </li>
    <li>
      <p class="select-txt">Language</p>
      <p class="select-btn"></p>
      <ul class="select-list">
        <li>English</li>
        <li>中文</li>
      </ul>
    </li>
  </ul>
</div>
<!--============================== footer close ==============================-->

<div id="overlay-s">
<p class="overlay-content"><span class="overlay-right"><span class="overlay-middle"><img src="images/icon_load_l.gif" alt="" />Saving...</span></span></p>
</div>

<div id="system-error" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">You are not authorized to edit this channel.</p>
<div class="overlay-btn">
<p class="btns btn-ok"><span><a href="#">OK</a></span></p>
</div>
</div>
</div>
</div>

<div id="unsave-prompt" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">Unsaved changes will be lost, are you sure you want to leave?</p>
<div class="overlay-btn">
<p class="btns btn-leave"><span><a href="#">Leave</a></span></p>
<p class="btns btn-no"><span><a href="#">No</a></span></p>
</div>
</div>
</div>
</div>

</body>
</html>