<!DOCTYPE html>
<html class="en" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link rel="stylesheet" href="stylesheets/style.css?v=1135" />
<link rel="stylesheet" href="stylesheets/lightbox.css?v=1135" />
<link rel="stylesheet" href="stylesheets/uniform.css?v=1135" />
<link rel="stylesheet" href="stylesheets/channel.css?v=1135" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="javascripts/libs/nn-sdk.js?v=1135"></script>
<script src="javascripts/libs/jquery.mousewheel.min.js?v=1135"></script>
<script src="javascripts/libs/jquery.ellipsis.min.js?v=1135"></script>
<script src="javascripts/libs/jquery.blockUI.min.js?v=1135"></script>
<script src="javascripts/libs/jquery.charcounter.min.js?v=1135"></script>
<script src="javascripts/libs/jquery.uniform.min.js?v=1135"></script>
<script src="javascripts/libs/jquery.tmpl.min.js?v=1135"></script>
<script src="javascripts/libs/jquery.cookie.min.js?v=1135"></script>
<script src="javascripts/libs/json2.min.js?v=1135"></script>
<script src="javascripts/libs/purl.min.js?v=1135"></script>
<script src="javascripts/libs/swfupload/swfupload.js?v=1135"></script>
<script src="javascripts/libs/vertical.slider.min.js?v=1135"></script>
<script src="javascripts/config.js?v=1135"></script>
<script src="javascripts/controller.js?v=1135"></script>
<script src="javascripts/basic.js?v=1135"></script>
<script src="javascripts/channel.js?v=1135"></script>
<title>9x9.tv - Create a new channel</title>
</head>
<body>
<div id="fb-root"></div>

<!--============================== header start ==============================-->
<div id="header">
  <a href="../" target="_blank" id="logo"></a>
  <ul id="nav">
    <li id="home"><span><a href="../" target="_blank">9x9.tv Official Web</a></span></li>
    <li id="tv"><span><a href="../tv" target="_blank">Watch 9x9.tv on the Web</a></span></li>
    <li id="profile">
      <p id="btn-profile"></p>
      <p id="selected-profile">Guest</p>
      <ul id="profile-dropdown" class="dropdown">
        <li><a id="profile-logout" href="signin.html">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--============================== header close ==============================-->

<div id="studio-nav">
<div class="studio-nav-wrap">
<h3><a href="index.html"><span class="cms-icon">CMS</span><p class="sub-title">Content Management System</p></a></h3>
<ul>
<li class="on"><span><a href="index.html">My Channels</a></span></li>
<li id="my-portal" class="hide"><span><a href="portal-set.html">My Portal</a></span></li>
</ul>
<div class="studio-setup">
<p class="btn-left"><span class="btn-right"><span class="btn-middle"><a href="cms-settings.html"><img src="images/icon_studio_setup.png" alt="" />CMS Settings</a></span></span></p>
<div class="reconnect-notice hide">
<img src="images/icon_notification.png" alt="" />
<p class="notice-left"><span class="notice-right"><span class="notice-middle langkey">Connection is inactive, click to restart it.</span></span></p>
</div>
</div>
</div>
</div>

<!--============================== content-wrap start ========================-->
<div id="content-wrap" class="channel-add">
<div id="content-nav">
&nbsp;
</div>
<div id="main-wrap-slider" class="slider-wrap"><div class="slider-vertical"></div></div>
<div id="content-main">
<!-- template = #content-main-tmpl -->
</div>
</div>
<!--============================== content-wrap close ========================-->

<script id="content-main-tmpl" type="text/x-jquery-tmpl">
<div id="title-func" class="clearfix">
<h2>${nn._([CMS_CONF.PAGE_ID, 'title-func', 'My Channels &gt; Create a new channel'])}</h2>
<p class="required"><acronym title="Required field" class="mark-required">*</acronym>${nn._([CMS_CONF.PAGE_ID, 'title-func', 'Required field'])}</p>
</div>
<div id="content-main-wrap">
<div class="constrain">
<form name="settingForm" id="settingForm" method="get" action="" data-height="361">
<input type="hidden" name="isPublic" id="isPublic" value="true" />
<div class="fminput clearfix">
<label for="name"><acronym title="Required field" class="mark-required">*</acronym>${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Title'])}</label>
<div class="fmfield">
<p class="text"><span><input type="text" name="name" id="name" maxlength="100" value="" class="text" /></span></p>
<span class="notice"><span id="name-charcounter">20</span>　${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Best within 20 characters'])}</span>
</div>
</div>
<div class="fminput clearfix">
<label>${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Thumbnail'])}</label>
<div class="fmfield upload-img">
<div class="thumbnail">
<div class="img-wrap">
<div class="img">
<img id="thumbnail-imageUrl" src="images/ch_default.png" alt="" class="photo" />
</div>
</div>
<img src="images/loading.gif" alt="" class="loading" />
</div>
<p id="uploadThumbnail">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Upload'])}</p>
<p class="notice img-upload">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Better results with 300x300 or higher resolution image'])}</p>
<p class="notice upload-notice hide">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Please upload jpeg, png, or gif files.'])}</p>
<input type="hidden" name="imageUrl" id="imageUrl" value="" />
<input type="hidden" name="imageUrlOld" id="imageUrlOld" value="" />
</div>
</div>
<div class="fminput clearfix">
<label>${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Description'])}</label>
<div class="fmfield">
<p class="textarea"><span><span><textarea name="intro" id="intro" cols="80" class="textarea"></textarea></span></span></p>
<span class="notice"><span id="intro-charcounter">70</span>　${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Best within 70 characters'])}</span>
</div>
</div>
<div class="fminput clearfix">
<label><acronym title="Required field" class="mark-required">*</acronym>${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Channel language'])}</label>
<div class="fmfield">
<div class="select enable">
<p class="select-btn"></p>
<p class="select-txt"><a id="lang-select-txt" href="#">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Select a language'])}</a></p>
<ul id="lang-select-list" class="select-list">
<li data-meta="en">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'English'])}</li>
<li data-meta="zh">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Chinese'])}</li>
<li data-meta="other">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Others'])}</li>
</ul>
<input type="hidden" name="lang" id="lang" value="" class="select-meta" />
</div>
</div>
</div>
<div class="fminput clearfix">
<label><acronym title="Required field" class="mark-required">*</acronym>${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Audience region'])}</label>
<div class="fmfield">
<div class="select enable">
<p class="select-btn"></p>
<p class="select-txt"><a id="sphere-select-txt" href="#">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Select a region'])}</a></p>
<ul id="sphere-select-list" class="select-list">
<li data-meta="en">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'US'])}</li>
<li data-meta="zh">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Taiwan'])}</li>
<li data-meta="other">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Worldwide'])}</li>
</ul>
<input type="hidden" name="sphere" id="sphere" value="" class="select-meta" />
</div>
</div>
</div>
<div class="fminput clearfix">
<label><acronym title="Required field" class="mark-required">*</acronym>${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Category'])}</label>
<div class="fmfield">
<div class="select disable category">
<p class="select-btn"></p>
<p class="select-txt"><a id="categoryId-select-txt" href="#">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Select a category'])}</a></p>
<ul id="browse-category" class="select-list">
<!-- template = #category-list-tmpl-item -->
</ul>
<input type="hidden" name="categoryId" id="categoryId" value="" class="select-meta" />
</div>
</div>
</div>
<div class="fminput clearfix">
<label>${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Tags'])}</label>
<div class="fmfield">
<p class="text"><span><input type="text" name="tag" id="tag" maxlength="100" value="" class="text" /></span></p>
<span class="notice">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Separate with commas'])}</span>
<div class="tag-list hide clear">
<h4>${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Suggested Tags:'])}</h4>
<ul id="tag-list">
<!-- template = #tag-list-tmpl-item -->
</ul>
</div>
</div>
</div>
<div class="fminput clearfix">
<label>{{html nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Select brand to auto share'])}}</label>
<div class="fmfield">
<div class="connect-switch">
<img src="images/icon_fb.png" alt="facebook" class="icon" />
<a href="#" class="switch-off">OFF</a>
</div>
<div class="connected hide">
<div class="share-item">
<img src="images/icon_fb.png" alt="facebook" />
<label id="fbTimeline-label" for="fbTimeline"><input type="checkbox" name="fbTimeline" id="fbTimeline" value="y" />${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Timeline'])}</label>
</div>
<div class="share-item">
<img src="images/icon_fb.png" alt="facebook" />
<label id="fbPage-label" for="fbPage"><input type="checkbox" name="fbPage" id="fbPage" value="y" />${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Page'])}</label>
<div class="page-list disable">
<div class="page-list-right">
<div class="page-list-middle">
<input type="hidden" name="pageId" id="pageId" value="" />
<a href="#" class="select-page"><span id="page-selected">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Select facebook pages'])}</span></a>
<!-- template = #fb-page-list-tmpl -->
</div>
</div>
</div>
<a id="fb-reconnect" href="javascript:void(0);"><img src="images/icon_question.png" alt="" /><span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-right"><span class="tip-middle">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'If fail to auto share to Facebook, please go to CMS Settings to re-connect to Facebook and try again.'])}</span></span></span></a>
</div>
</div>
<div class="reconnected hide">
<img src="images/icon_fb.png" alt="facebook" />
<p class="btns btn-reconnected"><span class="btn-right"><span class="btn-middle"><a href="#">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Restart connection'])}</a></span></span></p>
<p class="reconnect-notice clear">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Auto sharing is disabled because permission to your connected account has been revoked, please click to restart the connection.'])}</p>
</div>
</div>
</div>
<div class="form-btn">
<div class="form-btn-wrap">
<p class="notice hide">${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Please fill in all required fields.'])}</p>
<p class="btns btn-cancel disable"><span class="btn-right"><span class="btn-middle"><input type="reset" value="${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Cancel'])}" /></span></span></p>
<p class="btns btn-create disable"><span class="btn-right"><span class="btn-middle"><input type="button" value="${nn._([CMS_CONF.PAGE_ID, 'setting-form', 'Create'])}" /></span></span></p>
</div>
</div>
</form>
</div>
</div>
</script>

<script id="category-list-tmpl-item" type="text/x-jquery-tmpl">
{{if $item.dataArrayIndex($item.data) < 3}}
<li class="first-row" data-meta="${id}">${name}</li>
{{else}}
<li data-meta="${id}">${name}</li>
{{/if}}
</script>

<script id="tag-list-tmpl-item" type="text/x-jquery-tmpl">
{{each tags}}
{{if $value != ""}}
<li><span><a href="#">${$value}</a></span></li>
{{/if}}
{{/each}}
</script>

<script id="fb-page-list-tmpl" type="text/x-jquery-tmpl">
<ul id="fb-page-list" data-list="${cntPage}">
<!-- template = #fb-page-list-tmpl-item -->
</ul>
</script>

<script id="fb-page-list-tmpl-item" type="text/x-jquery-tmpl">
{{if name != ""}}
<li><a href="#" data-id="${id}"><span>${name}</span></a></li>
{{else}}
<li></li>
{{/if}}
</script>

<!--============================== footer start ==============================-->
<p id="footer-control"></p>
<div id="footer">
  <span>© 2013 9x9.tv. All rights reserved.</span>
  <ul id="footer-list">
    <li id="language-change">
      <p class="select-txt"><a href="javascript:void(0);" id="language">English</a></p>
      <p class="select-btn"></p>
      <ul class="select-list">
        <li class="on"><a href="javascript:void(0);" id="language-en" data-meta="en">English</a></li>
        <li><a href="javascript:void(0);" id="language-zh" data-meta="zh">中文</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--============================== footer close ==============================-->

<div id="overlay-s">
<p class="overlay-content"><span class="overlay-right"><span class="overlay-middle"><img src="images/icon_load_l.gif" alt="" />Saving...</span></span></p>
</div>

<div id="system-error" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">You are not authorized to edit this channel.</p>
<div class="overlay-btn">
<p class="btns btn-ok"><span><a href="#">OK</a></span></p>
</div>
</div>
</div>
</div>

<div id="unsave-prompt" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">Unsaved changes will be lost, are you sure you want to leave?</p>
<div class="overlay-btn">
<p class="btns btn-no"><span><a href="#">No</a></span></p>
<p class="btns btn-leave"><span><a href="#">Yes</a></span></p>
</div>
</div>
</div>
</div>

<div id="fb-connect-failed2" class="lightbox-content overlay-l setup-notice">
<div class="overlay-container">
<div class="overlay-wrap channel-connect-fail">
<a href="#" class="btn-close">Close</a>
<h5>Can not connect to Facebook correctly!</h5>
<p class="content">Please try again and make sure you agree on all permissions.</p>
<div class="overlay-btn">
<p class="btns btn-ok"><span><a href="#">OK</a></span></p>
</div>
</div>
</div>
</div>

</body>
</html>