<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="stylesheets/style.css" />
<link rel="stylesheet" href="stylesheets/lightbox.css" />
<link rel="stylesheet" href="stylesheets/uniform.css" />
<link rel="stylesheet" href="stylesheets/epcurate.css" />
<link rel="stylesheet" href="stylesheets/ep-curation.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script src="javascripts/nn-sdk.js"></script>
<script src="javascripts/jquery.mousewheel.min.js"></script>
<script src="javascripts/jquery.ellipsis.js"></script>
<script src="javascripts/jquery.blockUI.js"></script>
<script src="javascripts/jquery.corner.js"></script>
<script src="javascripts/jquery.toggleval.min.js"></script>
<script src="javascripts/jquery.uniform.min.js"></script>
<script src="javascripts/jquery.swfobject.min.js"></script>
<script src="javascripts/jquery.titlecard.js"></script>
<script src="javascripts/jquery.tmpl.min.js"></script>
<script src="javascripts/jquery.cookie.js"></script>
<script src="javascripts/json2.js"></script>
<script src="javascripts/purl.js"></script>
<script src="javascripts/horizontal-slider.js"></script>
<script src="javascripts/basic.js"></script>
<script src="javascripts/controller.js"></script>
<script src="javascripts/curation.js"></script>
<title>9x9.tv - Episode Curation - Curation</title>
</head>
<body>

<!--============================== header start ==============================-->
<div id="header" class="hide">
  <p id="logo"></p>
  <ul id="nav">
    <li id="home"><span>Home</span></li>
    <li id="guide"><span>Guide</span></li>
    <li id="browse"> <span>Browse</span>
      <ul id="browse-dropdown" class="dropdown">
        <li>All</li>
        <li>Animals & Pets</li>
        <li>Art & Design</li>
        <li>Autos & Vehicles</li>
        <li>Cartoons & Animation</li>
        <li>Comedy</li>
        <li>Fashion, Food & Living</li>
        <li>Gaming</li>
        <li>How-To</li>
        <li>Education & Lectures</li>
        <li>Music</li>
        <li>News</li>
        <li>Nonprofits & Faith</li>
        <li>People, Blogs & Shorts</li>
        <li>Science</li>
        <li>Sports & Health</li>
        <li>Tech & Apps</li>
        <li>TV & Film</li>
      </ul>
    </li>
    <li id="search">
      <p id="btn-search"></p>
      <input type="text" class="textfield" value="Search" id="search-field">
    </li>
    <li id="profile">
      <p id="btn-profile"></p>
      <p id="selected-profile">Snowball</p>
      <ul id="profile-dropdown" class="dropdown">
        <li>My page</li>
        <li>Studio</li>
        <li>Settings</li>
        <li>Log out</li>
      </ul>
    </li>
  </ul>
</div>
<!--============================== header close ==============================-->

<div id="epcurate-nav">
<div class="epcurate-nav-wrap">
<h3><a href="#" id="epcurate-nav-back" class="btn-back">Back<span class="tip"><img src="images/bg_tip_top.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">Leave</span></span></span></span></a><a href="#">Episode Curation</a></h3>
<ul>
<li><a href="#" id="epcurate-nav-info">Information</a></li>
<li class="on">Curation</li>
<li><a href="#" id="epcurate-nav-publish">Publish</a></li>
</ul>
</div>
</div>

<script id="epcurate-nav-publish-tmpl" type="text/x-jquery-tmpl">
<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Please curate some videos first.</span></span></span></span>
</script>

<!--============================== content-main start ========================-->
<div id="content-wrap" class="epcurate-curation">
<form name="epcurateForm" id="epcurateForm" method="get" action="" class="clearfix curation">
<input type="hidden" name="id" id="id" value="" />
<input type="hidden" name="channelId" id="channelId" value="" />

<script id="epcurate-info-tmpl" type="text/x-jquery-tmpl">
<input type="hidden" name="name" id="name" value="${name}" />
<input type="hidden" name="intro" id="intro" value="${intro}" />
</script>

<div id="main-wrap-slider" class="slider-wrap"><div class="slider-vertical"></div></div>

<div id="content-main">
<div id="content-main-wrap" class="curation">
<div class="constrain">
<div id="epcurate-curation" class="clearfix">
<ul class="tabs">
<li class="first last on"><span><a href="#cur-add" class="cur-add">Add Video</a></span></li>
<li class="last hide on"><span><a href="#cur-edit" class="cur-edit">Edit</a></span></li>
</ul>

<div class="curation-content clearfix">
<p class="auto-height"></p>
<div id="video-player">
<div class="video"></div>
<div id="video-control">
<ul>
<li id="btn-play"></li>
<li id="btn-pause" class="hide"></li>
<li id="play-time"></li>
</ul>
</div>
</div>

<div id="cur-add" class="tab-content clearfix">
<p>Add video by URL</p>
<textarea name="videourl" id="videourl" cols="80" class="textarea">Paste YouTube video URLs to add (separate with different lines)</textarea>
<p class="notice">You have reached the maximum amount of 50 videos.</p>
<div class="func">
<p class="btns btn-add"><span><a href="#" id="btn-add-videourl">Add</a></span></p>
</div>
</div>

<div id="cur-edit" class="tab-content clearfix hide">
<div id="video-info" class="edit-time hide">
<!-- template = #video-info-tmpl -->
</div>

<script id="video-info-tmpl" type="text/x-jquery-tmpl">
<h3><span class="uploader">${uploader}</span> - <span class="title">${name}</span></h3>
<p><span class="duration">${$item.durationConverter(duration)}</span> | From <a href="${fileUrl}" target="_blank">YouTube.com</a> | By <a href="http://www.youtube.com/user/${uploader}" class="uploader" target="_blank">${uploader}</a> on <span class="uploaded">${$item.uploadDateConverter(uploadDate)}</span></p>
<p class="desc ellipsis multiline">${intro}</p>
{{if isEmbedLimited || isZoneLimited || isMobileLimited}}
<ul>
{{if isEmbedLimited}}
<li class="outside">Not playable outside Youtube</li>
{{else}}
{{if isZoneLimited}}
<li class="region">Not playable in some regions</li>
{{/if}}
{{if isMobileLimited}}
<li class="device">Not playable on mobile device</li>
{{/if}}
{{/if}}
</ul>
{{/if}}
</script>

<!--
<div class="edit-title hide disable">
<div class="wrap">
<div class="text-container">
<h5>Text</h5>
<textarea name="text" id="text" cols="80" class="textarea">My Video</textarea>
</div>

<div class="font-container">
<h5>Font</h5>
<div class="text-func clearfix">
<div class="func-wrap clearfix">
<ul>
<li class="font-weight"><input type="checkbox" name="fontWeight" value="bold" id="fontWeight" />粗體</li>
<li class="font-style"><input type="checkbox" name="fontStyle" value="italic" id="fontStyle" />斜體</li>
<li><a href="#" class="font-color">字體顏色<span></span>
<ul class="color-list">
<li class="c-fff" data-meta="#ffffff">#ffffff</li>
<li class="c-eee" data-meta="#eeeeee">#eeeeee</li>
<li class="c-bbb" data-meta="#bbbbbb">#bbbbbb</li>
<li class="c-777" data-meta="#777777">#777777</li>
<li class="c-333" data-meta="#333333">#333333</li>
<li class="c-000" data-meta="#000000">#000000</li>
<li class="c-f00" data-meta="#ff0000">#ff0000</li>
<li class="c-f60" data-meta="#ff6600">#ff6600</li>
<li class="c-ff0" data-meta="#ffff00">#ffff00</li>
<li class="c-090" data-meta="#009900">#009900</li>
<li class="c-03f" data-meta="#0033ff">#0033ff</li>
<li class="c-60f" data-meta="#6600ff">#6600ff</li>
</ul>
</a>
<input type="hidden" name="fontColor" id="fontColor" value="#ffffff" />
<input type="hidden" name="fontSize" id="fontSize" value="20" />
</li>
<li><a href="#" class="font-l">字體放大</a></li>
<li><a href="#" class="font-s">字體縮小</a></li>
<li class="align-left"><input type="radio" name="align" value="left" id="align_left" />置左</li>
<li class="align-center"><input type="radio" name="align" value="center" id="align_center" />置中</li>
<li class="align-right"><input type="radio" name="align" value="right" id="align_right" />置右</li>
</ul>
</div>
</div>
</div>

<div class="effect-container">
<h5>Effect</h5>
<p class="effect-demo"><span>9x9.tv</span></p>
<div class="select">
<p class="select-btn"></p>
<div class="select-txt"><a href="#">None</a></div>
<ul class="select-list">
<li data-meta="none">None</li>
<li data-meta="fade">Fade</li>
<li data-meta="blind">Blind</li>
<li data-meta="clip">Clip</li>
<li data-meta="fold">Fold</li>
<li data-meta="drop">Drop</li>
</ul>
<input type="hidden" name="effect" id="effect" value="none" />
</div>
</div>
</div>

<div class="wrap">
<div class="background-container">
<h5>Background</h5>
<p class="radio-list">
<label for="bg_color" class="first"><input type="radio" name="bg" value="color" id="bg_color" checked="checked" />Color</label>
<label for="bg_image"><input type="radio" name="bg" value="image" id="bg_image" />Image</label>
</p>
<div class="bg-color">
<a href="#">背景顏色<span></span>
<ul class="color-list">
<li class="c-fff" data-meta="#ffffff">#ffffff</li>
<li class="c-eee" data-meta="#eeeeee">#eeeeee</li>
<li class="c-bbb" data-meta="#bbbbbb">#bbbbbb</li>
<li class="c-777" data-meta="#777777">#777777</li>
<li class="c-333" data-meta="#333333">#333333</li>
<li class="c-000" data-meta="#000000">#000000</li>
<li class="c-f00" data-meta="#ff0000">#ff0000</li>
<li class="c-f60" data-meta="#ff6600">#ff6600</li>
<li class="c-ff0" data-meta="#ffff00">#ffff00</li>
<li class="c-090" data-meta="#009900">#009900</li>
<li class="c-03f" data-meta="#0033ff">#0033ff</li>
<li class="c-60f" data-meta="#6600ff">#6600ff</li>
</ul>
</a>
<input type="hidden" name="backgroundColor" id="backgroundColor" value="#000000" />
</div>
<div class="bg-img hide">
<p class="img"></p>
<p class="btns upload"><span><a href="#">Upload</a></span></p>
<p class="notice">Better results with 720x480 image.</p>
<p class="notice highlight hide">Please upload jpeg, png, or gif file.</p>
<input type="hidden" name="backgroundImage" id="backgroundImage" value="" />
</div>
</div>

<div class="duration-container">
<h5>Duration</h5>
<div class="select">
<p class="select-btn"></p>
<div class="select-txt"><a href="#">7</a></div>
<ul class="select-list">
<li data-meta="5">5</li>
<li data-meta="6">6</li>
<li data-meta="7">7</li>
<li data-meta="8">8</li>
<li data-meta="9">9</li>
<li data-meta="10">10</li>
<li data-meta="12">12</li>
<li data-meta="14">14</li>
<li data-meta="16">16</li>
<li data-meta="18">18</li>
</ul>
<input type="hidden" name="duration" id="duration" value="7" />
</div>
<p class="notice">Invalid duration, please try again.</p>
</div>

<div class="btn-container">
<p class="btn-del"><a href="#">Del</a></p>
<p class="btns btn-cancel"><span><a href="#">Cancel</a></span></p>
<p class="btns btn-done"><span><a href="#">Done</a></span></p>
<p class="btns btn-edit"><span><a href="#">Edit file</a></span></p>
</div>
</div>
</div>
-->

</div>
<p class="auto-height clear"></p>
</div>
</div>

<div id="storyboard">
<p class="auto-height"></p>
<p>Episode storyboard (<em id="totalLeft">50</em> videos left)<span>Duration <em id="totalDuration">00:00:00</em></span></p>
<div id="storyboard-wrap" class="storyboard-list">
<p class="notice">+ Add videos here</p>
<ul id="storyboard-list">
<!-- template = #storyboard-list-tmpl-item -->

<!--
<li>
<span class="warning"></span>
<p class="img">
<img src="http://i.ytimg.com/vi/nCgQDjiotG0/default.jpg" alt="" width="80" height="45" />
<span class="time">02:10</span>
</p>
<h4 class="ellipsis multiline">Google Chrome Speed Tests</h4>
<p class="title">
<a href="#" class="begin-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Preview Title</span></span></span></span></a>
<a href="#" class="end-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Preview Title</span></span></span></span></a>
</p>
<p class="hover-func">
<a href="#" class="video-del">Video Del</a>
<a href="#" class="video-play">Video Play</a>
</p>
</li>
<li>
<p class="img">
<img src="http://i.ytimg.com/vi/yhS9LnDoo_w/default.jpg" alt="" width="80" height="45" />
<span class="time">06:06</span>
</p>
<h4 class="ellipsis multiline">The Chemical Brothers - The Test (2003 - Remaster)</h4>
<p class="hover-func">
<a href="#" class="video-del">Video Del</a>
<a href="#" class="video-play">Video Play</a>
<a href="#" class="begin-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Add Title</span></span></span></span></a>
<a href="#" class="end-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Add Title</span></span></span></span></a>
</p>
</li>
<li>
<p class="img">
<img src="http://i.ytimg.com/vi/ubNF9QNEQLA/default.jpg" alt="" width="80" height="45" />
<span class="time">01:55</span>
</p>
<h4 class="ellipsis multiline">Test Your Awareness : Whodunnit?</h4>
<p class="title">
<a href="#" class="begin-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Preview Title</span></span></span></span></a>
<a href="#" class="end-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Preview Title</span></span></span></span></a>
</p>
<p class="hover-func">
<a href="#" class="video-del">Video Del</a>
<a href="#" class="video-play">Video Play</a>
</p>
</li>
<li>
<p class="img">
<img src="http://i.ytimg.com/vi/4G60hM1W_mk/default.jpg" alt="" width="80" height="45" />
<span class="time">05:12</span>
</p>
<h4 class="ellipsis multiline">Hearing Test</h4>
<p class="hover-func">
<a href="#" class="video-del">Video Del</a>
<a href="#" class="video-play">Video Play</a>
<a href="#" class="begin-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Add Title</span></span></span></span></a>
<a href="#" class="end-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Add Title</span></span></span></span></a>
</p>
</li>
<li>
<span class="error"></span>
<p class="img">
<img src="http://i.ytimg.com/vi/vJG698U2Mvo/default.jpg" alt="" width="80" height="45" />
<span class="time">01:22</span>
</p>
<h4 class="ellipsis multiline">selective attention test</h4>
<p class="title">
<a href="#" class="begin-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Preview Title</span></span></span></span></a>
<a href="#" class="end-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Preview Title</span></span></span></span></a>
</p>
<p class="hover-func">
<a href="#" class="video-del">Video Del</a>
<a href="#" class="video-play">Video Play</a>
</p>
</li>
<li>
<p class="img">
<img src="http://i.ytimg.com/vi/CWyrp3hu4KE/default.jpg" alt="" width="80" height="45" />
<span class="time">01:38</span>
</p>
<h4 class="ellipsis multiline">Color Blindness test - Real !</h4>
<p class="hover-func">
<a href="#" class="video-del">Video Del</a>
<a href="#" class="video-play">Video Play</a>
<a href="#" class="begin-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Add Title</span></span></span></span></a>
<a href="#" class="end-title">Edit<span class="tip"><span class="tip-left"><span class="tip-right"><span class="tip-middle">Add Title</span></span></span></span></a>
</p>
</li>
-->
</ul>

<script id="storyboard-list-tmpl-item" type="text/x-jquery-tmpl">
<li data-ytid="${ytId}">
{{if isEmbedLimited || isZoneLimited || isMobileLimited}}
{{if isEmbedLimited}}
<span class="error"></span>
{{else}}
<span class="warning"></span>
{{/if}}
{{/if}}
<p class="img">
<img src="${imageUrl}" alt="" width="80" height="45" />
<span class="time">${$item.durationConverter(duration)}</span>
</p>
<h4 class="ellipsis multiline">${name}</h4>
<p class="hover-func">
<a href="#" class="video-del">Video Del</a>
<a href="#" class="video-play">Video Play</a>
</p>
</li>
</script>

</div>

<div id="storyboard-slider"><div class="slider-h"></div></div>
<p class="auto-height"></p>
</div>

<div class="form-btn">
<div class="wrap">
<p class="back"><a href="epcurate-info.html" id="form-btn-back">&lt; Back to Information</a></p>
<p class="btns btn-leave"><span><input type="button" id="form-btn-leave" value="Leave" /></span></p>
<p class="btns btn-save"><span><input type="button" id="form-btn-save" value="Save" /></span></p>
<p class="next"><a href="epcurate-publish.html" id="form-btn-next">Next to Publish &gt;</a></p>
</div>
</div>
</div>
</div>
</div>

</form>
</div>
<!--============================== content-main start ========================-->

<!--============================== footer start ==============================-->
<p id="footer-control" class="hide"></p>

<div id="footer" class="hide">
	<ul id="footer-list">
		<li>
			<p class="select-txt">About Us</p>
			<p class="select-btn"></p>
			<ul class="select-list">
				<li>About us</li>
				<li>Help</li>
				<li>Report</li>
				<li>Terms & Policy</li>
				<li>Contact us</li>
				<li>Partners</li>
				<li>Curators</li>
				<li>Press</li>
				<li>Curation Contest</li>
			</ul>
		</li>
		<li>
			<p class="select-txt">Language</p>
			<p class="select-btn"></p>
			<ul class="select-list">
				<li>English</li>
				<li>中文</li>
			</ul>
		</li>
		<li>
			<p class="select-txt">Region</p>
			<p class="select-btn"></p>
			<ul class="select-list">
				<li>US</li>
				<li>Taiwan</li>
			</ul>
		</li>
	</ul>
</div>
<!--============================== footer close ==============================-->

<div id="overlay-s">
<p class="overlay-content"><span class="overlay-right"><span class="overlay-middle">Saving...</span></span></p>
</div>

<div id="system-error" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">You are not authorized to edit this episode.</p>
<div class="overlay-btn">
<p class="btns btn-ok"><span><a href="#">OK</a></span></p>
</div>
</div>
</div>
</div>

<div id="unsave-prompt" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">Unsaved changes will be lost, are you sure you want to leave?</p>
<div class="overlay-btn">
<p class="btns btn-leave"><span><a href="#">Leave</a></span></p>
<p class="btns btn-no"><span><a href="#">No</a></span></p>
</div>
</div>
</div>
</div>

</body>
</html>