<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link rel="stylesheet" href="stylesheets/style.css?v=438" />
<link rel="stylesheet" href="stylesheets/lightbox.css?v=438" />
<link rel="stylesheet" href="stylesheets/episode.css?v=438" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script src="javascripts/nn-sdk.js?v=438"></script>
<script src="javascripts/jquery.mousewheel.min.js?v=438"></script>
<script src="javascripts/jquery.ellipsis.js?v=438"></script>
<script src="javascripts/jquery.blockUI.js?v=438"></script>
<script src="javascripts/jquery.toggleval.min.js?v=438"></script>
<script src="javascripts/jquery.cycle.all.js?v=438"></script>
<script src="javascripts/jquery.tmpl.min.js?v=438"></script>
<script src="javascripts/jquery.cookie.js?v=438"></script>
<script src="javascripts/json2.js?v=438"></script>
<script src="javascripts/purl.js?v=438"></script>
<script src="javascripts/vertical.slider.js?v=438"></script>
<script src="javascripts/config.js?v=438"></script>
<script src="javascripts/basic.js?v=438"></script>
<script src="javascripts/controller.js?v=438"></script>
<script src="javascripts/episode.js?v=438"></script>
<title>9x9.tv - Episode list</title>
</head>
<body>

<!--============================== header start ==============================-->
<div id="header">
  <p id="logo"></p>
  <ul id="nav">
    <li id="home"><span><a href="/#!home">Home</a></span></li>
    <li id="guide"><span><a href="/#!guide">Guide</a></span></li>
    <li id="browse"><span><a href="/#!directory">Browse</a></span></li>
    <li id="profile">
      <p id="btn-profile"></p>
      <p id="selected-profile">Guest</p>
      <ul id="profile-dropdown" class="dropdown">
        <li><a id="profile-mypage" href="/#!curator=profileUrl">My page</a></li>
        <li><a href="./">Studio</a></li>
        <li><a href="/#!settings">Settings</a></li>
        <li><a id="profile-logout" href="/api/login">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--============================== header close ==============================-->

<div id="studio-nav">
<div class="studio-nav-wrap">
<h3><a href="./">Studio</a></h3>
<ul>
<li class="on"><span><a href="./">My Channels</a></span></li>
</ul>
</div>
</div>

<!--============================== content-main start ========================-->
<div id="content-wrap">

<div id="content-nav">
<div id="func-nav">
<ul>
<!-- template = #episode-nav-tmpl -->
</ul>
</div>
</div>

<script id="episode-nav-tmpl" type="text/x-jquery-tmpl">
{{if contentType == CMS_CONF.YOUR_FAVORITE}}
<li>&nbsp;</li>
{{else}}
<li class="active"><a href="episode-list.html?id=${id}" class="episode">Episode list</a></li>
<li><a href="channel-setting.html?id=${id}" class="setting">Settings</a></li>
{{/if}}
</script>

<div id="main-wrap-slider" class="slider-wrap"><div class="slider-vertical"></div></div>

<script id="title-func-tmpl" type="text/x-jquery-tmpl">
<h2><span id="channel-name">${name}</span> &gt; Episode list (<span id="episode-counter">${$item.cntEpisode}</span>){{if contentType != CMS_CONF.YOUR_FAVORITE && $item.cntEpisode > 0}}<a href="epcurate-curation.html?cid=${id}" class="curate btns"><span class="btn-right"><span class="btn-middle">Curate a new episode</span></span></a>{{/if}}</h2>
{{if contentType != CMS_CONF.YOUR_FAVORITE && $item.cntEpisode > 0}}
<p class="order btns"><span><a href="#" rel="${id}" class="reorder">Reorder episodes</a></span></p>
{{/if}}
{{if $item.cntEpisode > 0}}
<div class="caption">
<p class="episode">Episode</p>
{{if contentType != CMS_CONF.YOUR_FAVORITE}}
<p class="scheduled-time">Scheduled time</p>
{{/if}}
<p class="publish-time">Publish time</p>
<p class="views">Views</p>
</div>
{{/if}}
</script>

<div id="content-main">
<div id="title-func" class="clearfix">
<!-- template = #title-func-tmpl -->
</div>
<div id="content-main-wrap" class="episode-list">
<div class="constrain">
<!-- template = #episode-favorite-first-tmpl or #episode-favorite-list-tmpl -->
<!-- template = #episode-first-tmpl or #episode-list-tmpl -->
</div>
</div>
</div>

<script id="episode-favorite-first-tmpl" type="text/x-jquery-tmpl">
<div id="ep-no">
<h3><img src="images/text_don't-have-episode-yet.png" alt="" /></h3>
<p class="desc">Click on <span>Favorite</span> button when watching channels to collect more episodes</p>
<img src="images/graphic_mockup.png" alt="" />
</div>
</script>

<script id="episode-favorite-list-tmpl" type="text/x-jquery-tmpl">
<div id="ep-list" class="favorite">
<ul id="episode-list">
<!-- template = #episode-favorite-list-tmpl-item -->
</ul>
</div>
</script>

<script id="episode-favorite-list-tmpl-item" type="text/x-jquery-tmpl">
<li class="clearfix">
<div class="container">
<div class="episode">
<p class="img">
<a href="${playbackUrl}" target="_blank">
<img src="images/icon_playlist.png" alt="" class="watermark" />
<img src="${imageUrl}" alt="" width="80" height="45" class="img" />
</a>
<span class="duration"><span class="time-right"><span class="time-middle">${formatDuration(duration)}</span></span></span>
</p>
<h3 class="ellipsis" data-meta="${name}"><a href="${playbackUrl}" target="_blank">${name}</a></h3>
<div class="btns">
<div class="btn-wrap disable">
<ul>
<li><a href="#" class="edit disable"><span></span>Edit</a></li>
<li><a href="#" class="del disable"><span></span>Delete</a></li>
</ul>
</div>
</div>
</div>
<div class="publish-time">
<p>${formatTimestamp(publishDate)}</p>
</div>
<div class="views">
<p>${cntView}</p>
</div>
</div>
</li>
</script>

<script id="episode-first-tmpl" type="text/x-jquery-tmpl">
<div id="ep-time-list">
<h3><img src="images/text_don't-have-episode-yet.png" alt="" /></h3>
<p class="btns"><span><a href="epcurate-curation.html?cid=${id}">Curate new episode to tell a story</a></span></p>
<div id="selected-episode">
<p class="episode-pager">
<a href="#" class="active">。</a>
<a href="#">。</a>
<a href="#">。</a>
<a href="#">。</a>
</p>
<div class="wrapper">
<ul class="content">
<li>
<div class="img"><a href="epcurate-curation.html?cid=${id}"><img src="images/banner_01.png" alt="" width="781" height="274" /></a></div>
<div class="desc"><p><span><strong>Curate online videos</strong> into each single episode.</span></p></div>
</li>
<li>
<div class="img"><a href="epcurate-curation.html?cid=${id}"><img src="images/banner_02.png" alt="" width="781" height="274" /></a></div>
<div class="desc"><p><span>Tell your story by <strong>arranging the video sequence.</strong></span></p></div>
</li>
<li>
<div class="img"><a href="epcurate-curation.html?cid=${id}"><img src="images/banner_03.png" alt="" width="781" height="274" /></a></div>
<div class="desc"><p><span><strong>Trim the videos and add titles</strong> to make your episodes more intriguing.</span></p></div>
</li>
<li>
<div class="img"><a href="epcurate-curation.html?cid=${id}"><img src="images/banner_04.png" alt="" width="781" height="274" /></a></div>
<div class="desc"><p><span><strong>Schedule your episodes,</strong> and 9x9 will publish the episodes automatically.</span></p></div>
</li>
</ul>
</div>
</div>
</div>
</script>

<script id="episode-list-tmpl" type="text/x-jquery-tmpl">
<div id="ep-list">
<ul id="episode-list">
<!-- template = #episode-list-tmpl-item -->
</ul>
</div>
</script>

<script id="episode-list-tmpl-item" type="text/x-jquery-tmpl">
<li class="clearfix" data-meta="${id}">
<div class="container">
<div class="container-right">
<div class="container-bottom">
<div class="container-left">
<div class="wrap">
<div class="episode">
<p class="img">
{{if null != publishDate}}
<a href="${playbackUrl}" target="_blank">
<img src="images/icon_playlist.png" alt="" class="watermark" />
<img src="${imageUrl}" alt="" width="80" height="45" class="img" />
</a>
{{else}}
<img src="${imageUrl}" alt="" width="80" height="45" class="img" />
{{/if}}
<span class="duration"><span class="time-right"><span class="time-middle">${formatDuration(duration)}</span></span></span>
</p>
<h3 class="ellipsis" data-meta="${name}"><a href="${playbackUrl}" target="_blank">${name}</a></h3>
<div class="btns">
<div class="btn-wrap enable">
<ul>
<li><a href="epcurate-curation.html?id=${id}" class="edit"><span href="epcurate-curation.html?id=${id}"></span>Edit</a></li>
<li><a href="/api/episodes/${id}" rel="${id}" class="del"><span rel="${id}"></span>Delete</a></li>
</ul>
</div>
</div>
</div>
<div class="scheduled-time">
{{if null != scheduleDate}}
<p>${formatTimestamp(scheduleDate)}</p>
{{else}}
&nbsp;
{{/if}}
</div>
<div class="publish-time">
{{if (false == isPublic && null == scheduleDate && null == publishDate) || (null != publishDate)}}
{{if false == isPublic && null == scheduleDate && null == publishDate}}
<p>Draft</p>
{{/if}}
{{if null != publishDate}}
<p>${formatTimestamp(publishDate)}</p>
{{/if}}
{{else}}
&nbsp;
{{/if}}
</div>
<div class="views">
<p>${cntView}</p>
</div>
</div>
<p class="drag">move</p>
</div>
</div>
</div>
</div>
</li>
</script>

</div>
<!--============================== content-main start ========================-->

<!--============================== footer start ==============================-->
<p id="footer-control"></p>
<div id="footer">
  <ul id="footer-list">
    <li>
      <p class="select-txt">About Us</p>
      <p class="select-btn"></p>
      <ul class="select-list">
        <li><a href="/#!about=about">About us</a></li>
        <li><a href="/#!about=help">Help</a></li>
        <li><a href="/#!about=report">Feedback</a></li>
        <li><a href="/#!about=terms">Terms & Policy</a></li>
        <li><a href="/#!about=contact">Contact us</a></li>
        <li><a href="/#!about=partners">Partners</a></li>
        <li><a href="/#!about=curators">Curators</a></li>
        <li><a href="/#!about=press">Press</a></li>
        <li><a href="/#!about=contest">Curation Contest</a></li>
      </ul>
    </li>
    <li>
      <p class="select-txt">Language</p>
      <p class="select-btn"></p>
      <ul class="select-list">
        <li>English</li>
        <li>中文</li>
      </ul>
    </li>
  </ul>
</div>
<!--============================== footer close ==============================-->

<div id="overlay-s">
<p class="overlay-content"><span class="overlay-right"><span class="overlay-middle">Saving...</span></span></p>
</div>

<div id="system-error" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">You are not authorized to edit episodes in this channel.</p>
<div class="overlay-btn">
<p class="btns btn-ok"><span><a href="#">OK</a></span></p>
</div>
</div>
</div>
</div>

<div id="delete-prompt" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">Are you sure you want to delete this episode?</p>
<div class="overlay-btn">
<p class="btns btn-del"><span><a href="#">Delete</a></span></p>
<p class="btns btn-no"><span><a href="#">No</a></span></p>
</div>
</div>
</div>
</div>

<div id="unsave-prompt" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">Unsaved changes will be lost, are you sure you want to leave?</p>
<div class="overlay-btn">
<p class="btns btn-leave"><span><a href="#">Leave</a></span></p>
<p class="btns btn-no"><span><a href="#">No</a></span></p>
</div>
</div>
</div>
</div>

</body>
</html>