<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link rel="stylesheet" href="stylesheets/style.css?v=454" />
<link rel="stylesheet" href="stylesheets/lightbox.css?v=454" />
<link rel="stylesheet" href="stylesheets/channel.css?v=454" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script src="javascripts/nn-sdk.js?v=454"></script>
<script src="javascripts/jquery.mousewheel.min.js?v=454"></script>
<script src="javascripts/jquery.ellipsis.js?v=454"></script>
<script src="javascripts/jquery.blockUI.js?v=454"></script>
<script src="javascripts/jquery.toggleval.min.js?v=454"></script>
<script src="javascripts/jquery.charcounter.min.js?v=454"></script>
<script src="javascripts/jquery.tmpl.min.js?v=454"></script>
<script src="javascripts/jquery.cookie.js?v=454"></script>
<script src="javascripts/json2.js?v=454"></script>
<script src="javascripts/purl.js?v=454"></script>
<script src="javascripts/vertical.slider.js?v=454"></script>
<script src="javascripts/config.js?v=454"></script>
<script src="javascripts/basic.js?v=454"></script>
<script src="javascripts/controller.js?v=454"></script>
<script src="javascripts/channel.js?v=454"></script>
<title>9x9.tv - My Channels</title>
</head>
<body>
<!-- template = #lightbox-create-channel-tmpl -->

<script id="lightbox-create-channel-tmpl" type="text/x-jquery-tmpl">
<div id="lightbox-create-channel" class="lightbox-content">
<h3><img src="images/text_collect.png" alt="" /></h3>
<p class="desc">Studio is the management center for your 9x9.tv list-form channels!</p>
<p class="create">
<a href="channel-add.html">create
<img src="images/icon_add.png" alt="" />
<span>Create a<br />new channel</span>
</a>
</p>
<p class="btns unblock"><span><a href="./">Not right now, thanks!</a></span></p>
</div>
</script>

<!--============================== header start ==============================-->
<div id="header">
  <p id="logo"></p>
  <ul id="nav">
    <li id="home"><span><a href="/#!home">Home</a></span></li>
    <li id="guide"><span><a href="/#!guide">Guide</a></span></li>
    <li id="browse"><span><a href="/#!directory">Browse</a></span></li>
    <li id="profile">
      <p id="btn-profile"></p>
      <p id="selected-profile">Guest</p>
      <ul id="profile-dropdown" class="dropdown">
        <li><a id="profile-mypage" href="/#!curator=profileUrl">My page</a></li>
        <li><a href="./">Studio</a></li>
        <li><a href="/#!settings">Settings</a></li>
        <li><a id="profile-logout" href="/api/login">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--============================== header close ==============================-->

<div id="studio-nav">
<div class="studio-nav-wrap">
<h3><a href="./">Studio</a></h3>
<ul>
<li class="on"><span><a href="./">My Channels</a></span></li>
</ul>
</div>
</div>

<!--============================== content-main start ========================-->
<div id="content-wrap">

<div id="content-nav">
<div id="func-nav">
<ul>
<li class="btns"><span><a href="channel-add.html">Create a new channel</a></span></li>
</ul>
</div>
</div>

<div id="main-wrap-slider" class="slider-wrap"><div class="slider-vertical"></div></div>

<div id="content-main">
<div id="title-func" class="clearfix">
<h2>My Channels (<span id="channel-counter"></span>)</h2>
<p class="order btns"><span><a href="javascript:void(0);" class="reorder">Reorder channels</a></span></p>
</div>
<div id="content-main-wrap">
<div class="constrain">
<ul id="channel-list">
<!-- template = #channel-list-tmpl-item -->
</ul>
</div>
</div>
</div>

<script id="channel-list-tmpl-item" type="text/x-jquery-tmpl">
<li class="clearfix" data-meta="${id}">
<div class="container">
<div class="container-right">
<div class="container-bottom">
<div class="container-left">
<div class="wrap">
<div class="photo-list">
<a href="/#!${id}" target="_blank">
{{if cntEpisode == 0 && -1 !== $.inArray(moreImageUrl_1, [CMS_CONF.CHANNEL_DEFAULT_IMAGE, CMS_CONF.EPISODE_DEFAULT_IMAGE])}}
<span>No Episodes</span>
{{/if}}
<img src="images/icon_playlist.png" alt="" class="watermark" />
<img src="${moreImageUrl_1}" alt="" width="152" height="86" class="img" />
<img src="${moreImageUrl_2}" alt="" width="70" height="40" class="img" />
<img src="${moreImageUrl_3}" alt="" width="70" height="40" class="img" />
</a>
</div>

<div class="info">
<h3><a href="episode-list.html?id=${id}">${name}</a></h3>
<p><span>${cntEpisode}</span>Episodes</p>
<p><span>${cntFollower}</span>Followers</p>
<p><span>${cntView}</span>Views</p>
</div>

<div class="func-wrap">
<p class="time">Update: ${formatTimestamp(updateDate)}</p>
<div class="func-btns">
{{if contentType == CMS_CONF.YOUR_FAVORITE}}
<div class="btn-wrap disable">
<ul>
<li><a href="javascript:void(0);" class="add disable">Add</a></li>
<li><a href="episode-list.html?id=${id}" class="detail">Detail<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">Episode list</span></span></span></span></a></li>
<li><a href="javascript:void(0);" class="setting disable">Setting</a></li>
<li><a href="javascript:void(0);" class="del disable">Del</a></li>
</ul>
</div>
{{else}}
<div class="btn-wrap enable">
<ul>
<li><a href="epcurate-curation.html?cid=${id}" class="add">Add<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">Curate a new episode</span></span></span></span></a></li>
<li><a href="episode-list.html?id=${id}" class="detail">Detail<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">Episode list</span></span></span></span></a></li>
<li><a href="channel-setting.html?id=${id}" class="setting">Setting<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">Channel settings</span></span></span></span></a></li>
<li><a href="/api/users/${$item.userId}/channels/${id}" rel="${id}" class="del">Del<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">Delete this channel</span></span></span></span></a></li>
</ul>
</div>
{{/if}}
</div>
</div>
</div>
<p class="drag">move</p>
</div>
</div>
</div>
</div>
</li>
</script>

</div>
<!--============================== content-main start ========================-->

<!--============================== footer start ==============================-->
<p id="footer-control"></p>
<div id="footer">
  <ul id="footer-list">
    <li>
      <p class="select-txt">About Us</p>
      <p class="select-btn"></p>
      <ul class="select-list">
        <li><a href="/#!about=about">About us</a></li>
        <li><a href="/#!about=help">Help</a></li>
        <li><a href="/#!about=report">Feedback</a></li>
        <li><a href="/#!about=terms">Terms & Policy</a></li>
        <li><a href="/#!about=contact">Contact us</a></li>
        <li><a href="/#!about=partners">Partners</a></li>
        <li><a href="/#!about=curators">Curators</a></li>
        <li><a href="/#!about=press">Press</a></li>
        <li><a href="/#!about=contest">Curation Contest</a></li>
      </ul>
    </li>
    <li>
      <p class="select-txt">Language</p>
      <p class="select-btn"></p>
      <ul class="select-list">
        <li>English</li>
        <li>中文</li>
      </ul>
    </li>
  </ul>
</div>
<!--============================== footer close ==============================-->

<div id="overlay-s">
<p class="overlay-content"><span class="overlay-right"><span class="overlay-middle"><img src="images/icon_load_l.gif" alt="" />Saving...</span></span></p>
</div>

<div id="system-error" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">You are not authorized to edit this channel.</p>
<div class="overlay-btn">
<p class="btns btn-ok"><span><a href="#">OK</a></span></p>
</div>
</div>
</div>
</div>

<div id="delete-prompt" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">Are you sure you want to delete this channel? All data will be removed permanently.</p>
<div class="overlay-btn">
<p class="btns btn-del"><span><a href="#">Delete</a></span></p>
<p class="btns btn-no"><span><a href="#">No</a></span></p>
</div>
</div>
</div>
</div>

<div id="unsave-prompt" class="lightbox-content overlay-l">
<div class="overlay-container">
<div class="overlay-wrap">
<a href="#" class="btn-close">Close</a>
<p class="content">Unsaved changes will be lost, are you sure you want to leave?</p>
<div class="overlay-btn">
<p class="btns btn-leave"><span><a href="#">Leave</a></span></p>
<p class="btns btn-no"><span><a href="#">No</a></span></p>
</div>
</div>
</div>
</div>

</body>
</html>