<!DOCTYPE html>
<html class="en" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link rel="stylesheet" href="stylesheets/perfect-scrollbar.css" />
<link rel="stylesheet" href="stylesheets/style.css?v=1278" />
<link rel="stylesheet" href="stylesheets/lightbox.css?v=1278" />
<link rel="stylesheet" href="stylesheets/channel.css?v=1278" />
<title>9x9.tv - My Channels</title>
</head>
<body>
<div id="fb-root"></div>
<!-- template = #lightbox-create-channel-tmpl -->

<!-- Header Layer Begin -->
<div id="header">
    <a href="../" target="_blank" id="logo"></a>
    <ul id="nav">
        <li id="home"><span><a href="../" target="_blank">9x9.tv Official Web</a></span></li>
        <li id="tv"><span><a href="../tv" target="_blank">Watch 9x9.tv on the Web</a></span></li>
        <li id="profile">
            <p id="btn-profile"></p>
            <p id="selected-profile">Guest</p>
            <ul id="profile-dropdown" class="dropdown">
                <li><a id="profile-logout" href="signin.html">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- Header Layer End -->

<!-- Navigation Layer Begin -->
<div id="studio-nav">
    <div class="studio-nav-wrap">
        <h3><a href="index.html"><span class="cms-icon">CMS</span><span class="sub-title">Content Management System</span></a></h3>
        <ul>
            <li class="on"><span><a href="index.html">My Channels</a></span></li>
            <li id="my-portal" class="hide"><span><a href="portal-manage.html">My Portal</a></span></li>
        </ul>
        <div class="studio-setup">
            <p class="btn-left"><span class="btn-right"><span class="btn-middle"><a href="cms-settings.html"><img src="images/icon_studio_setup.png" alt="" />CMS Settings</a></span></span></p>
            <div class="reconnect-notice hide">
                <img src="images/icon_notification.png" alt="" />
                <p class="notice-left"><span class="notice-right"><span class="notice-middle langkey">Connection is inactive, click to restart it.</span></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Navigation Layer End -->

<!-- Content Layer Begin -->
<div id="content-wrap">
    <div id="content-nav">
        <div id="func-nav">
            <ul>
                <li class="btns"><span><a href="channel-add.html">Create a new channel</a></span></li>
            </ul>
        </div>
    </div>
    <div id="main-wrap-slider" class="slider-wrap"><div class="slider-vertical"></div></div>
    <div id="content-main">
        <div id="title-func" class="clearfix">
            <!-- template = #title-func-tmpl -->
        </div>
        <div id="content-main-wrap">
            <div class="constrain">
                <ul id="channel-list">
                    <!-- template = #channel-list-tmpl-item -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Content Layer End -->

<!-- Footer Layer Begin -->
<p id="footer-control"></p>
<div id="footer">
    <span>© 2013 9x9.tv. All rights reserved.</span>
    <ul id="footer-list">
        <li id="language-change">
            <p class="select-txt"><a href="javascript:void(0);" id="language">English</a></p>
            <p class="select-btn"></p>
            <ul class="select-list">
                <li class="on"><a href="javascript:void(0);" id="language-en" data-meta="en">English</a></li>
                <li><a href="javascript:void(0);" id="language-zh" data-meta="zh">中文</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- Footer Layer End -->

<!-- Loading Layer Begin -->
<div id="overlay-s">
    <p class="overlay-content">
        <span class="overlay-right">
            <span class="overlay-middle"><img src="images/icon_load_l.gif" alt="" />Saving...</span>
        </span>
    </p>
</div>
<!-- Loading Layer End -->

<!-- System Error Layer Begin -->
<div id="system-error" class="lightbox-content overlay-l">
    <div class="overlay-container">
        <div class="overlay-wrap">
            <a href="#" class="btn-close">Close</a>
            <p class="content">You are not authorized to edit this channel.</p>
            <div class="overlay-btn">
                <p class="btns btn-ok"><span><a href="#">OK</a></span></p>
            </div>
        </div>
    </div>
</div>
<!-- System Error Layer End -->

<!-- Delete Prompt Layer Begin -->
<div id="delete-prompt" class="lightbox-content overlay-l">
    <div class="overlay-container">
        <div class="overlay-wrap">
            <a href="#" class="btn-close">Close</a>
            <p class="content">Are you sure you want to delete this channel? All data will be removed permanently.</p>
            <div class="overlay-btn">
                <p class="btns btn-no"><span><a href="#">No</a></span></p>
                <p class="btns btn-del"><span><a href="#">Yes</a></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Delete Prompt Layer End -->

<!-- Unsave Prompt Layer Begin -->
<div id="unsave-prompt" class="lightbox-content overlay-l">
    <div class="overlay-container">
        <div class="overlay-wrap">
            <a href="#" class="btn-close">Close</a>
            <p class="content">Unsaved changes will be lost, are you sure you want to leave?</p>
            <div class="overlay-btn">
                <p class="btns btn-no"><span><a href="#">No</a></span></p>
                <p class="btns btn-leave"><span><a href="#">Yes</a></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Unsave Prompt Layer End -->

<div id="tmpHtml2" style="display: none"></div>
<div id="tmpHtml" style="display: none"></div>

<script id="lightbox-create-channel-tmpl" type="text/x-jquery-tmpl">
<div id="lightbox-create-channel" class="lightbox-content">
    <h3 class="index-collect-title">${nn._(['overlay', 'channel-tutorial', 'Collect and Curate!'])}</h3>
    <p class="desc">${nn._(['overlay', 'channel-tutorial', 'CMS is the management center for your 9x9.tv list-form channels!'])}</p>
    <p class="create">
        <a href="channel-add.html">create
            <img src="images/icon_add.png" alt="" />
            <span>{{html nn._(['overlay', 'channel-tutorial', 'Create a<br />new channel'])}}</span>
        </a>
    </p>
    <p class="btns unblock"><span><a href="index.html">${nn._(['overlay', 'channel-tutorial', 'Not right now, thanks!'])}</a></span></p>
</div>
</script>

<script id="title-func-tmpl" type="text/x-jquery-tmpl">
<h2>${nn._([cms.global.PAGE_ID, 'title-func', 'My Channels'])} (<span id="channel-counter">${$item.cntChannel}</span>)</h2>
<p class="order btns"><span><a href="javascript:void(0);" class="reorder">${nn._([cms.global.PAGE_ID, 'title-func', 'Reorder channels'])}</a></span></p>
</script>

<script id="get-url-part-tmpl" type="text/x-jquery-tmpl">
<li class="surl-li{{if $item.li_sel === brand}} on{{/if}}" data-meta="${brand}">${brand}</li>
</script>

<!-- get-url-tmpl Begin -->
<script id="get-url-tmpl" type="text/x-jquery-tmpl">
<div class="tip-white-l">
    <div class="left"></div>
    <div class="center">
        <div class="title">${nn._([cms.global.PAGE_ID, 'channel-list', "Brand"])}</div>
        <div class="select-gray" id="">
            <div class="select-content-gray">
                <p class="select-btn"></p>
                <p class="select-txt-gray">${brand}</p>
                <ul class="select-dropdown">{{html $item.li_items}}</ul>
            </div>
        </div>
        <div class="title">${nn._([cms.global.PAGE_ID, 'channel-list', "URL"])}</div>
        <div class="input-gray">
            <p class="left"></p>
            <p class="center">
                <input id="" class="textfield srul-text" value="http://www.9x9.tv/view?brand=${brand}&ch=xxxx&ep=xxxx" onclick="this.select()" />
            </p>
            <p class="right"></p>
        </div>
    </div>
    <div class="right"></div>
</div>
<div class="tip-bottom"></div>
</script>
<!-- get-url-tmpl End -->

<!-- channel-list-empty-tmpl Begin -->
<script id="channel-list-empty-tmpl" type="text/x-jquery-tmpl">
<li class="clearfix" id="empty-item" >
    
        <h2>{{html nn._([cms.global.PAGE_ID, 'episode-list', "You don't have any channel yet"])}}</h2>
    
</li>
</script>
<!-- channel-list-empty-tmpl End -->

<!-- channel-list-tmpl-item Begin -->
<script id="channel-list-tmpl-item" type="text/x-jquery-tmpl">
<li class="clearfix" data-meta="${id}">
<div class="container">
<div class="container-right">
<div class="container-bottom">
<div class="container-left">
    <div class="wrap">
        <div class="photo-list">
            <div class="ep">
                <a href="/view?ch=${id}" target="_blank"><img src="${moreImageUrl_2}" alt="" /></a>
            </div>
            <div class="ch">
                <div class="img">
                    <a href="/view?ch=${id}" target="_blank"><img src="${moreImageUrl_1}" alt="" /></a>
                </div>
            </div>
            <a href="/view?ch=${id}" target="_blank"><img src="images/icon_playlist.png" alt="" class="watermark" /></a>
        </div>
        <div class="info">
            <h3><a href="episode-list.html?id=${id}">${name}</a></h3>
            <p><span>${cntEpisode}</span>${nn._([cms.global.PAGE_ID, 'channel-list', 'Episodes'])}</p>
            <p><span>${cntSubscribe}</span>${nn._([cms.global.PAGE_ID, 'channel-list', 'Followers'])}</p>
            <p><span>${cntView}</span>${nn._([cms.global.PAGE_ID, 'channel-list', 'Views'])}</p>
        </div>
        <div class="func-wrap">
            <div id="get-url-${id}" class="get-url" data-metain="0" data-metaep="0" data-metach="${id}">
                <div class="tip-white-l">
                    <div class="left"></div>
                    <div class="center">
                        <div class="title">Brand</div>
                        <div class="select-gray" id="">
                            <div class="select-content-gray">
                                <p id="" class="select-btn"></p>
                                <p id="" class="select-txt-gray">9x9</p>
                                <ul id="" class="select-dropdown">
                                    <li class="on" data-meta="9x9.tv">9x9.tv</li>
                                    <li data-meta="CTS">CTS</li>
                                </ul>
                            </div>
                        </div>
                        <div class="title">URL</div>
                        <div class="input-gray">
                            <p class="left"></p>
                            <p class="center">
                                <input id="" class="textfield" value="http://www.9x9.tv/view?brand={msoId}&ch=xxxx&ep=xxxx" onclick="this.select()" />
                            </p>
                            <p class="right"></p>
                        </div>
                    </div>
                    <div class="right"></div>
                </div>
                <div class="tip-bottom"></div>
            </div>
            <p class="time">${nn._([cms.global.PAGE_ID, 'channel-list', 'Update:'])} ${cms.common.formatTimestamp(updateDate)}</p>
            <div class="func-btns">
                <div class="btn-wrap enable">
                    <ul>
                        <li><a href="epcurate-curation.html?cid=${id}" class="add">Add<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">${nn._([cms.global.PAGE_ID, 'channel-list', 'Curate a new episode'])}</span></span></span></span></a></li>
                        {{if !cms.global.IS_REMARK}}
                        <li><a href="channel-poi.html?id=${id}" class="channel-poi">Channel POI<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">${nn._([cms.global.PAGE_ID, 'channel-list', 'Channel POI'])}</span></span></span></span></a></li>
                        {{/if}}
                        <li><a href="episode-list.html?id=${id}" class="detail">Detail<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">${nn._([cms.global.PAGE_ID, 'channel-list', 'Episode list'])}</span></span></span></span></a></li>
                        <li><a href="channel-setting.html?id=${id}" class="setting">Setting<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">${nn._([cms.global.PAGE_ID, 'channel-list', 'Channel settings'])}</span></span></span></span></a></li>
                        <li><a href="/api/users/${$item.userId}/channels/${id}" rel="${id}" class="del">Del<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">${nn._([cms.global.PAGE_ID, 'channel-list', 'Delete this channel'])}</span></span></span></span></a></li>
                        <li><a href="javascript:void(0);" class="url{{if 1 > cntEpisode}} disable{{/if}}">${nn._([cms.global.PAGE_ID, 'channel-list', 'Get URL'])}<span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-left"><span class="tip-right"><span class="tip-middle">${nn._([cms.global.PAGE_ID, 'channel-list', 'Get URL'])}</span></span></span></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p class="drag"><span>move</span></p>
</div>
</div>
</div>
</div>
</li>
</script>
<!-- channel-list-tmpl-item End -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="javascripts/libs/nn-sdk.js?v=1278"></script>
<script src="javascripts/libs/perfect-scrollbar.js"></script>
<script src="javascripts/libs/jquery.mousewheel.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.ellipsis.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.blockUI.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.charcounter.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.tmpl.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.cookie.min.js?v=1278"></script>
<script src="javascripts/libs/json2.min.js?v=1278"></script>
<script src="javascripts/libs/purl.min.js?v=1278"></script>
<script src="javascripts/v2/config.js?v=1278"></script>
<script src="javascripts/v2/func.common.js?v=1278"></script>
<script src="javascripts/v2/func.get-url.js?v=1278"></script>
<script src="javascripts/v2/func.index.js?v=1278"></script>
<script src="javascripts/v2/domready.common.js?v=1278"></script>
<script src="javascripts/v2/domready.get-url.js?v=1278"></script>
<script src="javascripts/v2/domready.index.js?v=1278"></script>
</body>
</html>