<!DOCTYPE html>
<html class="en" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link rel="stylesheet" href="stylesheetsv3/perfect-scrollbar.css" />
<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="stylesheetsv3/style.css?v=1278" />
<link rel="stylesheet" href="stylesheets/lightbox.css?v=1278" />
<link rel="stylesheet" href="stylesheets/uniform.css?v=1278" />
<link rel="stylesheet" href="stylesheets/episode.css?v=1278" />
<link rel="stylesheet" href="stylesheetsv3/portal.css?v=1278" />
<title>9x9.tv - My Portal</title>
</head>
<body>
<div id="fb-root"></div>

<!-- Header Layer Begin -->
<div id="header">
    <a href="http://www.9x9.tv/" target="_blank" id="logo"></a>
    <ul id="nav">
        <li id="home"><span><a href="http://www.9x9.tv/" target="_blank">9x9.tv Official Web</a></span></li>
        <li id="tv"><span><a href="http://www.9x9.tv/tv" target="_blank">Watch 9x9.tv on the Web</a></span></li>
        <li id="profile">
            <p id="btn-profile"></p>
            <p id="selected-profile">Guest</p>
            <ul id="profile-dropdown" class="dropdown">
                <li><a id="profile-logout" href="signin.html">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- Header Layer End -->

<!-- Navigation Layer Begin -->
<div id="studio-nav">
    <div class="studio-nav-wrap">
        <h3><a href="index.html"><span class="cms-icon">CMS</span><span class="sub-title">Content Management System</span></a></h3>
        <ul>
            <li><span><a href="index.html">My Channels</a></span></li>
            <li class="on"><span><a href="portal-set.html">My Portal</a></span></li>
        </ul>
        <div class="studio-setup">
            <p class="btn-left"><span class="btn-right"><span class="btn-middle"><a href="cms-settings.html"><img src="images/icon_studio_setup.png" alt="" />CMS Settings</a></span></span></p>
            <div class="reconnect-notice hide">
                <img src="images/icon_notification.png" alt="" />
                <p class="notice-left"><span class="notice-right"><span class="notice-middle langkey">Connection is inactive, click to restart it.</span></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Navigation Layer End -->

<!-- Content Layer Begin -->
<div id="content-wrap">
    <!-- Content Nav Layer Begin -->
    <div id="content-nav">
        <div id="func-nav">
            <ul>
                <li>
                    <a href="portal-set.html" class="portal langkey">My Portal</a>
                    <ul class="sub-nav">
                    </ul>
                </li>
                <li><a href="store-manage.html" class="store langkey">Channel Store</a></li>
                <li><a href="brand-setting.html" class="brand langkey">Brand Settings</a></li>
            </ul>
        </div>
    </div>
    <!-- Content Nav Layer End -->
    <div id="portal-slider" class="slider-wrap"><div class="slider-vertical"></div></div>
    <div id="content-main">
        <div id="title-func" class="clearfix">
            <h2><span class="langkey">My Portal</span> &gt; <span class="set_name"></span></h2>
            <ul>
                <li class="hide"><p class="btns"><span><a href="javascript:void(0)" id="set-preview" target="_blank" class="langkey">Preview</a></span></p></li>
                <li id="set-save" class="last"><p class="btns"><span><a href="javascript:void(0)" class="langkey">Save</a></span></p></li>
            </ul>
        </div>
        <!-- Portal Layer Begin -->
        <div id="portal-layer">
            <form id="portal-manage" onsubmit="return false;">
            </form>
            <h2 id="cntChannelEmpty" style="display:none" class="langkey">You can add 27 channels into your channel set.</h2>
            <div id="portal-constrain">
                <div id="portal-list">
                    <ul id="channel-list" class="channel-list">
                    </ul>
                </div>
            </div>
        </div>
        <!-- Portal Layer End -->
    </div>
</div>
<!-- Content Layer End -->

<!-- Footer Layer Begin -->
<p id="footer-control"></p>
<div id="footer">
    <span>© 2013 9x9.tv. All rights reserved.</span>
    <ul id="footer-list">
        <li id="language-change">
            <p class="select-txt"><a href="javascript:void(0);" id="language">English</a></p>
            <p class="select-btn"></p>
            <ul class="select-list">
                <li class="on"><a href="javascript:void(0);" id="language-en" data-meta="en">English</a></li>
                <li><a href="javascript:void(0);" id="language-zh" data-meta="zh">中文</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- Footer Layer End -->

<!-- Loading Layer Begin -->
<div id="overlay-s">
    <p class="overlay-content">
        <span class="overlay-right">
            <span class="overlay-middle"><img src="images/icon_load_l.gif" alt="" />Saving...</span>
        </span>
    </p>
</div>
<!-- Loading Layer End -->

<!-- Yes No Prompt Layer Begin -->
<div id="yes-no-prompt" class="prompt lightbox-content overlay-l" style="width: 500px;">
    <div class="overlay-container">
        <div class="overlay-wrap">
            <a href="#" class="btn-close">Close</a>
            <p class="content">You will change the order of channel list to "update time", it will sort by update time of channels automatically so you can't change the order manually except set on top channels.</p>
            <div class="overlay-btn">
                <p class="btns btn-no"><span><a href="#">No</a></span></p>
                <p class="btns btn-yes"><span><a href="#">Yes</a></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Yes No Prompt Layer End -->

<!-- System Error Layer Begin -->
<div id="system-error" class="lightbox-content overlay-l">
    <div class="overlay-container">
        <div class="overlay-wrap">
            <a href="#" class="btn-close">Close</a>
            <p class="content">You are not authorized to edit this episode.</p>
            <div class="overlay-btn">
                <p class="btns btn-ok"><span><a href="#">OK</a></span></p>
            </div>
        </div>
    </div>
</div>
<!-- System Error Layer End -->

<!-- Unsave Prompt Layer Begin -->
<div id="unsave-prompt" class="lightbox-content overlay-l">
    <div class="overlay-container">
        <div class="overlay-wrap">
            <a href="#" class="btn-close">Close</a>
            <p class="content">Unsaved changes will be lost, are you sure you want to leave?</p>
            <div class="overlay-btn">
                <p class="btns btn-no"><span><a href="#">No</a></span></p>
                <p class="btns btn-leave"><span><a href="#">Yes</a></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Unsave Prompt Layer End -->

<!-- Poratl Add Layer Begin -->
<div class="msg-layer" id="portal-add-layer">
    <div class="msg-holder">
        <div class="msg-left"></div>
        <div class="msg-center">
            <p class="btn-msg-close"></p>
            <h2 id="search-title">Add channels into your “<span>Set 2</span>”</h2>
            <form onsubmit="return false;">
                <span class="form-title langkey">Set Name:</span>
                <div class="select-gray" id="select-portal-ch">
                    <div class="select-content-gray">
                        <p id="btn-portal-ch" class="select-btn"></p>
                        <p id="txt-portal-ch" class="select-txt-gray langkey">Channel URL</p>
                        <ul id="dropdown-portal-ch" class="select-dropdown" kvale="url">
                            <li kvale="url" data-tvalue="Please input channel URL" class="on langkey">Channel URL</li>
                            <li kvale="keywords" data-tvalue="Please input channel name or curator name" class="langkey">Keywords</li>
                        </ul>
                    </div>
                </div>
                <div class="input-gray">
                    <p class="left"></p>
                    <p class="center">
                        <input id="input-portal-ch" class="textfield langkeyVal" value="Please input channel URL" style="width: 100%" />
                    </p>
                    <p class="right"></p>
                </div>
                <div class="btn-white">
                    <p class="left"></p>
                    <p id="portal_search_channel" class="center langkey">Search</p>
                    <p class="right"></p>
                </div> 
                <br />
                <p>
                    <b class="langkeyH">Results:</b> <tit id="sRusult" data-canAdd="0" class="langkeyH"></tit>
                    <span id="msg-search" class="msg-error"></span>
                </p>
                <br />
            </form>
            <a href="#" id="searchPrev" class="prev" style="display: none">prev</a>
            <a href="#" id="searchNext" class="next" style="display: none">next</a>
            <div class="list-holder">
                <ul id="search-channel-list" class="channel-list">
                </ul>
            </div>
            <div class="msg-btn-holder">
                <div id="searchAdd" class="btn-white" style="display: none">
                    <p class="left"></p>
                    <p id="portal_add_channel" class="center langkey">Add</p>
                    <p class="right"></p>
                </div> 
            </div>
        </div>
        <div class="msg-right"></div>
    </div>
</div>
<!-- Poratl Add Layer End -->

<!-- portal-search-item-tmpl Begin -->
<script id="portal-search-item-tmpl" type="text/x-jquery-tmpl">
<li id="sch_${id}">
    <div class="thumb">
        <div id="schk_${id}" class="checkbox"></div>
        <a href="/view?ch=${id}" target="_blank">
            <img src="images/icon_playlist.png" alt="" class="watermark" />
        </a>
        <div class="ch">
            <div class="img">
                <img src="${imageUrl}" alt="" />
            </div>
        </div>
    </div>
    <p title="${name}" class="ch-title">${name}</p>
</li>
</script>
<!-- portal-search-item-tmpl End -->

<script id="portal-func-nav-sub-tmpl" type="text/x-jquery-tmpl">
<li class="{{if isActive == 1}}active{{/if}}"><a href="portal-manage.html?id=${id}">${name}</a></li>
</script>

<!-- portal-set-form-tmpl Begin -->
<script id="portal-set-form-tmpl" type="text/x-jquery-tmpl">
<input type="hidden" name="id" value="${id}" />
<input type="hidden" id="sortingType" name="sortingType" value="${sortingType}" />
<div class="clearfix">
    <span class="required-field">*</span>
    <span class="form-title">${nn._([cms.global.PAGE_ID, 'channel-list', 'Set Name'])}:</span>
    <div class="input-white" id="set-title">
        <p class="left"></p>
        <input id="setName" name="name" value="${name}" class="center" />
        <p class="right"></p>
    </div>
    <span class="notice"><span id="name-charcounter">${name.length}</span>${nn._([cms.global.PAGE_ID, 'channel-list', 'Best within 20 characters'])}</span>
    <span id="msg-portal" class="msg-error"></span>
</div>
<div class="clearfix sort">
    <span class="form-title">${nn._([cms.global.PAGE_ID, 'channel-list', 'Channel List'])}: </span> <p class="number">(<span id="channelCnt">${channelCnt}</span> / 27 ${nn._([cms.global.PAGE_ID, 'channel-list', 'Channels'])})</p>
    <ul class="sort-list">
        <li class="head">${nn._([cms.global.PAGE_ID, 'channel-list', 'Sorted by'])}: </li>
        <li tvalue="2" class="sType {{if sortingType == 2}}on{{/if}}">${nn._([cms.global.PAGE_ID, 'channel-list', 'Updated time'])}</li>
        <li tvalue="1" class="sType {{if sortingType == 1}}on{{/if}}">${nn._([cms.global.PAGE_ID, 'channel-list', 'Customized Order'])}</li>
    </ul>
</div>
</script>
<!-- portal-set-form-tmpl End -->

<!-- portal-set-empty-chanels-tmpl Begin -->
<script id="portal-set-empty-chanels-tmpl" type="text/x-jquery-tmpl">
<li id="empty_channel" class="empty{{if cntChanels >=27}} disable{{/if}}">
    <div class="thumb">
        <div class="btn-top">
            <div class="icon-holder"></div>
            <div class="tip-white">
                <p class="left"></p>
                <p class="center">Set on top</p>
                <p class="right"></p>
            </div>
            <div class="tip-top"></div>
        </div>
        <div class="btn-remove">
            <div class="icon-holder"></div>
            <div class="tip-white">
                <p class="left"></p>
                <p class="center">Remove</p>
                <p class="right"></p>
            </div>
            <div class="tip-top"></div>
        </div>
        <img src="images/icon_playlist.png" alt="" class="watermark" />
        <div class="ch">
            <img src="thumbnail/ch_default.png" alt="" />
        </div>
    </div>
    <p class="ch-title addChanel">+ ${nn._([cms.global.PAGE_ID, 'channel-list', 'Add channels'])}<br />${nn._([cms.global.PAGE_ID, 'channel-list', 'Add channels sub'])}</p>
</li>
</script>
<!-- portal-set-empty-chanels-tmpl End -->

<!-- portal-set-chanels-tmpl Begin -->
<script id="portal-set-chanels-tmpl" type="text/x-jquery-tmpl">
{{if alwaysOnTop == true}}
    <li id="set_${id}" class="itemList notSortable">
        <div class="thumb">
            <div class="btn-top on">
                <div class="icon-holder"></div>
                <div class="tip-white">
                    <p class="left"></p>
                    <p class="center">${nn._([cms.global.PAGE_ID, 'channel-list', 'Remove from top'])}</p>
                    <p class="right"></p>
                </div>
                <div class="tip-top"></div>
            </div>
            <div class="btn-remove">
                <div class="icon-holder"></div>
                <div class="tip-white">
                    <p class="left"></p>
                    <p class="center">${nn._([cms.global.PAGE_ID, 'channel-list', 'Remove channel'])}</p>
                    <p class="right"></p>
                </div>
                <div class="tip-top"></div>
            </div>
            <a href="/view?ch=${id}" target="_blank">
                <img class="watermark" alt="" src="images/icon_playlist.png" />
            </a>
            <div class="ch">
                <div class="img">
                    <img src="${imageUrl}" alt="" />
                </div>
            </div>
        </div>
        <p class="ch-title">${name}</p>
    </li>
{{else}}
    <li id="set_${id}" class="itemList isSortable">
        <div class="thumb">
            <div class="btn-top">
                <div class="icon-holder"></div>
                <div class="tip-white">
                    <p class="left"></p>
                    <p class="center">${nn._([cms.global.PAGE_ID, 'channel-list', 'Set on top'])}</p>
                    <p class="right"></p>
                </div>
                <div class="tip-top"></div>
            </div>
            <div class="btn-remove">
                <div class="icon-holder"></div>
                <div class="tip-white">
                    <p class="left"></p>
                    <p class="center">${nn._([cms.global.PAGE_ID, 'channel-list', 'Remove channel'])}</p>
                    <p class="right"></p>
                </div>
                <div class="tip-top"></div>
            </div>
            <a href="/view?ch=${id}" target="_blank">
                <img class="watermark" alt="" src="images/icon_playlist.png" />
            </a>
            <div class="ch">
                <div class="img">
                    <img src="${imageUrl}" alt="" />
                </div>
            </div>
        </div>
        <p class="ch-title">${name}</p>
    </li>
{{/if}}
</script>
<!-- portal-set-chanels-tmpl End -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="javascripts/libs/nn-sdk.js?v=1278"></script>
<script src="javascripts/libs/jquery.mousewheel.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.ellipsis.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.blockUI.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.charcounter.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.tmpl.min.js?v=1278"></script>
<script src="javascripts/libs/jquery.cookie.min.js?v=1278"></script>
<script src="javascripts/libs/json2.min.js?v=1278"></script>
<script src="javascripts/libs/purl.min.js?v=1278"></script>
<script src="javascripts/libs/perfect-scrollbar.js"></script>
<script src="javascripts/v2/config.js?v=1278"></script>
<script src="javascripts/v3/func.common.js?v=1278"></script>
<script src="javascripts/v3/func.portal.manage.js?v=1278"></script>
<script src="javascripts/v3/domready.common.js?v=1278"></script>
<script src="javascripts/v3/domready.portal.manage.js?v=1278"></script>
</body>
</html>